<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" href="/css/actualInformation.css">

    <title th:text="${'Мероприятия'}"/>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <script src="https://unpkg.com/imask"></script>

    <header th:insert="blocks/headerClientAccount :: headerClientAccount"></header>
</head>
<body>

<section class="AllActualInformation">
    <h3 >Мероприятия</h3>
    <div th:each="el : ${Events}" class="editInformation">
        <div>
            <p th:text="${el.text}" class="size" name="text" id="text" placeholder="Текст"></p>
        </div>


        <hr class="hh1">
    </div>
</section>
<script src="http://code.jquery.com/jquery-1.11.1.min.js"></script>
<script src="https://unpkg.com/imask"></script>
<script src="/scripts/home.js"></script>
<!--<script src="system/js/global.js"></script>  Для даты -->



</body>

<footer th:insert="blocks/footer :: footer"></footer>


</html>