<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" href="/css/request.css">

    <title th:text="${title}"/>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <script src="https://unpkg.com/imask"></script>

    <header th:insert="blocks/headerClientAccount :: headerClientAccount"></header>
</head>
<body>
<section class="newRequest">
    <h3 >Написать заявку</h3>
    <br>
<!--  <form action="/Request" method="post"> <form th:action="@{/Request}" method="post"> -->
    <form th:action="@{/Request}" method="post">
        <div class="allDivRequest">

<!--            <div class="DivRequest">-->
<!--                <input type="text" onkeyup="checkParams()" id="createDate" name="createDate" placeholder="createDate">-->
<!--            </div>-->

            <div class="DivRequest">
                <input type="text" onkeyup="checkParams()" id="korpus" name="korpus" placeholder="korpus">
            </div>

            <div class="DivRequest">
                <input type="text" onkeyup="checkParams()" id="room" name="room" placeholder="room">
            </div>

<!--            <div class="DivRequest">-->
<!--                <input type="text" onkeyup="checkParams()" id="fromWhom" name="fromWhom" placeholder="fromWhom">-->
<!--            </div>-->

            <div class="DivRequest">
                <textarea class="size" name="text" id="text" placeholder="text"></textarea>
            </div>

            <div class="DivRequest">
                <input type="text" onkeyup="checkParams()" id="toWhom" name="toWhom" placeholder="toWhom">
            </div>


<!--            <div class="DivRequest">-->
<!--                <input type="text" onkeyup="checkParams()" id="endDay" name="endDay" placeholder="endDay">-->
<!--            </div>-->

<!--            <div class="DivRequest">-->
<!--                <input type="text" onkeyup="checkParams()" id="status" name="status" placeholder="status">-->
<!--            </div>-->


<!--            <div class="DivRequest">-->
<!--                <input type="text" onkeyup="checkParams()" id="fulfilled" name="fulfilled" placeholder="fulfilled">-->
<!--            </div>-->


            <div class="DivRequest">
                <button  type="submit">Добавить</button>
            </div>

        </div>
    </form>

</section>
<script src="http://code.jquery.com/jquery-1.11.1.min.js"></script>
<script src="https://unpkg.com/imask"></script>
<script src="/scripts/home.js"></script>
<!--<script src="system/js/global.js"></script>  Для даты -->



</body>

<!--<footer th:insert="blocks/footer :: footer"></footer>-->


</html>