<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" href="/css/request.css">

    <title th:text="${title}"/>







    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <script src="https://unpkg.com/imask"></script>

    <header th:insert="blocks/headerClientAccount :: headerClientAccount"></header>
</head>
<body>
<section class="newRequest">
    <h3 >Написать заявку</h3>
    <br>
<!--  <form action="/Request" method="post"> <form th:action="@{/Request}" method="post"> -->
    <form th:action="@{/Request}" method="post">
        <div class="allDivRequest">

            <div class="DivRequest">
                <input th:value="${#authentication.name}" readonly type="text" onkeyup="checkParams()" id="room" name="room" placeholder="№ корпуса - № комнаты">
            </div>

            <div class="DivRequest">
                <input  class="in" name="level" placeholder="Уровень заявки" id="level" />
                <select onchange=document.getElementById('level').value=this.options[this.selectedIndex].value>
                    <option disabled selected >Уровень заявки</option>
                    <option class="" value="Срочный">Срочный</option>
                    <option class="" value="В течении дня">В течении дня</option>
                </select>
            </div>


            <div class="DivRequest">
                <input  class="in" name="toWhom" placeholder="Кому заявка" id="position" />
                <select onchange=document.getElementById('position').value=this.options[this.selectedIndex].value>
                    <option disabled selected >Исполнитель заявки</option>
                    <option class="" value="Электромонтер">Электромонтер</option>
                    <option class="" value="Сантехник">Сантехник</option>
                    <option class="" value="Комплексный_рабочий">Комплексный рабочий</option>
                    <option class="" value="Горничная">Горничная</option>
                    <option class="" value="Администратор">Администратор</option>
                    <option class="" value="Дежурная_мед_сестра">Дежурная_мед_сестра</option>
                </select>
            </div>

            <div class="DivRequest">
                <select class="in" onchange=document.getElementById('text').value=this.options[this.selectedIndex].value>
                    <option disabled selected >Описание проблемы</option>
                    <option class="inn" value="Перегорела лампочка">Перегорела лампочка</option>
                    <option class="inn" value="Не работает розетка">Не работает розетка</option>
                    <option class="inn" value="Плохо показывает телевизор">Плохо показывает телевизор</option>
                    <option class="inn" value="Холодно в комнате">Холодно в комнате</option>
                    <option class="inn" value="Капает кран">Капает кран</option>
                    <option class="inn" value="Засор">Засор</option>
                    <option class="inn" value="Села батарейка в часах">Села батарейка в часах</option>
                    <option class="inn" value="Сломалась мебель">Сломалась мебель</option>
                    <option class="inn" value="Не закрывается дверь">Не закрывается дверь</option>
                    <option class="inn" value="Убрать в комнате">Убрать в комнате</option>
                    <option class="inn" value="Требуется манеж">Требуется манеж</option>
                    <option class="inn" value="Требуется раскладушка">Требуется раскладушка</option>
                    <option class="inn" value="Требуется полотенце">Требуется полотенце</option>
                </select>
            </div>

            <div class="DivRequest2">
                <textarea class="size" name="text" placeholder="Выберете из списка что требуется или опишите пробелему самостоятельно" id="text"/></textarea>
            </div>
            <div class="DivRequest">
                <button  type="submit">Отправить заявку</button>
            </div>


        </div>
    </form>


    <div class="DivRequest">
        <form method="post"  th:action="AllRequestClientFilter">
            <input th:value="${#authentication.name}"  type="hidden" readonly  class="in" name="filter"  placeholder="Моя комната" id="room1" />
            <button type="submit">Узнать о выполнении заявки</button>
        </form>
    </div>


    <div th:each="el : ${requests5}" class="request">
        <hr>
        <div class="name">№ заявки</div>
        <div th:text="${el.id}" class="wrap1"><input type="text" id="id" name="id"></div>
        <div class="name">Статус</div>
        <div th:text="${el.status}" class="wrap1"><input type="text" id="status" name="status"></div>
        <div class="name">Исполнитель</div>
        <div th:text="${el.toWhom}" class="wrap1"><input type="text" id="toWhom" name="toWhom"></div>
        <div class="name">Именование заявки</div>
        <div th:text="${el.text}" class="wrap1"><input type="text" id="text1" name="text"></div>

    </div>
    <hr>

</section>

<!--type="hidden"-->



<!--    <div class="DivRequest">-->
<!--        <form method="post"  th:action="AllRequestClientFilter">-->
<!--        <input th:value="${#authentication.name}" type="hidden" readonly  class="in" name="filter"  placeholder="Моя комната" id="room1" />-->
<!--            <button type="submit">Узнать о выполнении заявки</button>-->
<!--        </form>-->
<!--    </div>-->

<!--


       <form method="post"  th:action="AllRequestStaffFilter">-->
<!--            <input class="" type="text" name="filter" placeholder="Поиск по статусу заявки" id="status" />-->
<!--            <select onchange=document.getElementById('status').value=this.options[this.selectedIndex].value>-->
<!--                <option disabled selected >Статус заявки</option>-->
<!--                <option class="" value="Выполнено">Выполнено</option>-->
<!--                <option class="" value="На выполнении">На выполнении</option>-->
<!--                <option class="" value="Не выполнено">Не выполнено</option>-->
<!--            </select>-->
<!--            <button type="submit">Найти</button>-->
<!--        </form>-->

</section>

<script src="http://code.jquery.com/jquery-1.11.1.min.js"></script>
<script src="https://unpkg.com/imask"></script>
<script src="/scripts/home.js"></script>
<!--<script src="system/js/global.js"></script>  Для даты -->



</body>

<!--<footer th:insert="blocks/footer :: footer"></footer>-->


</html>