<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" href="/css/tableTime.css">

    <title th:text="${title}"/>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <script src="https://unpkg.com/imask"></script>

    <header th:insert="blocks/headerClientAccount :: headerClientAccount"></header>
</head>
<body>

<script src="http://code.jquery.com/jquery-1.11.1.min.js"></script>
<script src="https://unpkg.com/imask"></script>
<script src="/scripts/home.js"></script>

</body>


<section class="timeTables">

    <p>Расписание</p>

    <h1>ЛОК</h1>

    <div class="tableBlock">
        <div class="nameColumn"> <div><p>Понедельник:</p></div> <div><p>9:00 - 19:00</p></div> </div>
    </div>
    <div class="tableBlock">
        <div class="nameColumn"> <div><p>Вторник:</p></div> <div><p>9:00 - 19:00</p></div> </div>
    </div>
    <div class="tableBlock">
        <div class="nameColumn"> <div><p>Среда:</p></div> <div><p>9:00 - 19:00</p></div> </div>
    </div>
    <div class="tableBlock">
        <div class="nameColumn"> <div><p>Четверг:</p></div> <div><p>9:00 - 19:00</p></div> </div>
    </div>
    <div class="tableBlock">
        <div class="nameColumn"> <div><p>Пятница:</p></div> <div><p>9:00 - 19:00</p></div> </div>
    </div>
    <div class="tableBlock">
        <div class="nameColumn"> <div><p>Суббота:</p></div> <div><p>9:00 - 19:00</p></div> </div>
    </div>
    <div class="tableBlock">
        <div class="nameColumn"> <div><p>Воскресенье:</p></div> <div><p>9:00 - 19:00</p></div> </div>
    </div>
    <hr class="hr">
    <div class="tableBlock">
        <div class="nameColumn"> <div><p>Перерыв:</p></div> <div><p>13:00 - 13:00</p></div> </div>
    </div>





    <hr>
    <h1>Прокат</h1>

    <div class="tableBlock">
        <div class="nameColumn"> <div><p>Понедельник:</p></div> <div><p>9:00 - 19:00</p></div> </div>
    </div>
    <div class="tableBlock">
        <div class="nameColumn"> <div><p>Вторник:</p></div> <div><p>9:00 - 19:00</p></div> </div>
    </div>
    <div class="tableBlock">
        <div class="nameColumn"> <div><p>Среда:</p></div> <div><p>9:00 - 19:00</p></div> </div>
    </div>
    <div class="tableBlock">
        <div class="nameColumn"> <div><p>Четверг:</p></div> <div><p>9:00 - 19:00</p></div> </div>
    </div>
    <div class="tableBlock">
        <div class="nameColumn"> <div><p>Пятница:</p></div> <div><p>9:00 - 19:00</p></div> </div>
    </div>
    <div class="tableBlock">
        <div class="nameColumn"> <div><p>Суббота:</p></div> <div><p>9:00 - 19:00</p></div> </div>
    </div>
    <div class="tableBlock">
        <div class="nameColumn"> <div><p>Воскресенье:</p></div> <div><p>9:00 - 19:00</p></div> </div>
    </div>
    <hr class="hr">
    <div class="tableBlock">
        <div class="nameColumn"> <div><p>Перерыв:</p></div> <div><p>13:00 - 13:00</p></div> </div>
    </div>


    <hr>
    <h1>Карта питания</h1>

    <div class="tableBlock">
        <div class="nameColumn"> <div><p>Завтрак:</p></div> <div><p>9:00 - 19:00</p></div> </div>
    </div>
    <div class="tableBlock">
        <div class="nameColumn"> <div><p>Кислородный коктейль:</p></div> <div><p>9:00 - 19:00</p></div> </div>
    </div>
    <div class="tableBlock">
        <div class="nameColumn"> <div><p>Фиточай:</p></div> <div><p>9:00 - 19:00</p></div> </div>
    </div>
    <div class="tableBlock">
        <div class="nameColumn"> <div><p>Обед:</p></div> <div><p>9:00 - 19:00</p></div> </div>
    </div>
    <div class="tableBlock">
        <div class="nameColumn"> <div><p>Полдник:</p></div> <div><p>9:00 - 19:00</p></div> </div>
    </div>
    <div class="tableBlock">
        <div class="nameColumn"> <div><p>Ужин:</p></div> <div><p>9:00 - 19:00</p></div> </div>
    </div>
    <div class="tableBlock">
        <div class="nameColumn"> <div><p>Кефир:</p></div> <div><p>9:00 - 19:00</p></div> </div>
    </div>


    <hr>
    <h1>Клуб</h1>

    <div class="tableBlock">
        <div class="nameColumn"> <div><p>Понедельник:</p></div> <div><p>9:00 - 19:00</p></div> </div>
    </div>
    <div class="tableBlock">
        <div class="nameColumn"> <div><p>Вторник:</p></div> <div><p>9:00 - 19:00</p></div> </div>
    </div>
    <div class="tableBlock">
        <div class="nameColumn"> <div><p>Среда:</p></div> <div><p>9:00 - 19:00</p></div> </div>
    </div>
    <div class="tableBlock">
        <div class="nameColumn"> <div><p>Четверг:</p></div> <div><p>9:00 - 19:00</p></div> </div>
    </div>
    <div class="tableBlock">
        <div class="nameColumn"> <div><p>Пятница:</p></div> <div><p>9:00 - 19:00</p></div> </div>
    </div>
    <div class="tableBlock">
        <div class="nameColumn"> <div><p>Суббота:</p></div> <div><p>9:00 - 19:00</p></div> </div>
    </div>
    <div class="tableBlock">
        <div class="nameColumn"> <div><p>Воскресенье:</p></div> <div><p>9:00 - 19:00</p></div> </div>
    </div>
    <hr class="hr">
    <div class="tableBlock">
        <div class="nameColumn"> <div><p>Перерыв:</p></div> <div><p>13:00 - 13:00</p></div> </div>
    </div>


    <hr>
    <h1>Мед кабинеты</h1>

    <div class="tableBlock">
        <div class="nameColumn"> <div><p>Понедельник:</p></div> <div><p>9:00 - 16:00</p></div> </div>
    </div>
    <div class="tableBlock">
        <div class="nameColumn"> <div><p>Вторник:</p></div> <div><p>9:00 - 16:00</p></div> </div>
    </div>
    <div class="tableBlock">
        <div class="nameColumn"> <div><p>Среда:</p></div> <div><p>9:00 - 16:00</p></div> </div>
    </div>
    <div class="tableBlock">
        <div class="nameColumn"> <div><p>Четверг:</p></div> <div><p>9:00 - 16:00</p></div> </div>
    </div>
    <div class="tableBlock">
        <div class="nameColumn"> <div><p>Пятница:</p></div> <div><p>9:00 - 16:00</p></div> </div>
    </div>
    <div class="tableBlock">
        <div class="nameColumn"> <div><p>Суббота:</p></div> <div><p>Выходной</p></div> </div>
    </div>
    <div class="tableBlock">
        <div class="nameColumn"> <div><p>Воскресенье:</p></div> <div><p>Выходной</p></div> </div>
    </div>
    <hr class="hr">
    <div class="tableBlock">
        <div class="nameColumn"> <div><p>Перерыв:</p></div> <div><p>13:00 - 13:00</p></div> </div>
    </div>
</section>



<div class="footer">
    <p> &copy; Санаторий профилакторий "Озеро Глухое" 2021.</p>
</div>

<!--
<footer th:insert="blocks/footer :: footer"></footer>
-->

</html>