<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" href="/css/accommodation.css"/>
    <title th:text="${title}"/>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <script src="https://unpkg.com/imask"></script>

    <header th:insert="blocks/header :: header"></header>
</head>
<body>

<!--<div th:each="el : ${Rooms_1k}" class="editStaff">-->

<!--    <div th:text="${el.roomsOneKorpusId}" class="wr"><input type="text" id="id" name="id" placeholder="Имя"></div>-->

<!--</div>-->

<div class="info">
    <h3>Внимание</h3>
    <p>Заезд осуществляется не позднее 18:00 дня заезда <wbr> Выезд не позднее 14:00 дня выезда</p>
</div>


<section class="roomFund">
    <h1>Номерной фонд</h1>
    <p>Правила заселения, заезд осуществляется не позднее 18:00 и выезд не позднее 14:00</p>
    <div class="korpusOne">
        <h2>Корпус № 1</h2>

        <div class="nColumn">
            <div class="wr">Тип комнаты:</div>
             <hr>
            <div class="wr">Цена за сутки (руб)</div>
             <hr>
        </div>

        <div th:each="el : ${prices}"  class="nColumn">
            <div th:text="${el.type}" class="wr"><input type="text" id="type" name="type" placeholder="type"></div>
            <hr>
            <div th:text="${el.price}" class="wr"><input type="text" id="price" name="price" placeholder="price"></div>

            <hr>
        </div>

    </div>

    </div>
    <div class="korpusTwo">
        <h2>Корпус № 2</h2>
        <div class="nColumn">
            <div class="wr">Тип комнаты:</div>
            <hr>
            <div class="wr">Цена за сутки (руб)</div>
            <hr>
        </div>
        <div th:each="el : ${pricess}"  class="nColumn">
            <div th:text="${el.type}" class="wr"><input type="text" id="typeTwo" name="type" placeholder="type"></div>
            <hr>
            <div th:text="${el.price}" class="wr"><input type="text" id="priceTwo" name="price" placeholder="price"></div>

            <hr>
        </div>
    </div>
</section>

<div class="footer">
    <p> &copy; Санаторий профилакторий "Озеро Глухое" 2021.</p>
</div>

<script src="http://code.jquery.com/jquery-1.11.1.min.js"></script>
<script src="https://unpkg.com/imask"></script>
<script src="/scripts/home.js"></script>
<!--<script src="system/js/global.js"></script>  Для даты -->



</body>

<!--<footer th:insert="blocks/footer :: footer"></footer>-->


</html>