<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" href="/css/home.css"/>
    <title th:text="${title}"/>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <script src="https://unpkg.com/imask"></script>

    <header th:insert="blocks/header :: header"></header>
</head>
<body>
<h1>О нас</h1>



<div class="footer">
    <p> &copy; Санаторий профилакторий "Озеро Глухое" 2021.</p>
</div>

<script src="http://code.jquery.com/jquery-1.11.1.min.js"></script>
<script src="https://unpkg.com/imask"></script>
<script src="/scripts/home.js"></script>
<!--<script src="system/js/global.js"></script>  Для даты -->



</body>



</html>