<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" href="/css/accommodationEdit.css"/>
    <title th:text="${'Редактор комнаты'}"/>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="">
    <script src="https://unpkg.com/imask"></script>
    <header th:insert="blocks/headerAdmin :: headerAdmin"></header>



</head>
<body>




<section class="sectionRequest">
    <div class="StaffsFilter">
        <h1>Номерной фонд</h1>
        <div class="DivRequest" >
            <div class="request">
                <div class="c1">
                    <div class="staffReq1">Тип комнаты</div>
                    <div class="staffReq1">Цена</div>
                </div>
                <div class="allDiv">

                    <form  method="post">
                        <div  th:each="el : ${post}" class="c1">

                            <div class="staffReq"><input type="text" th:value="${el.type}" onkeyup="checkParams()" id="type" name="type" placeholder="Тип комнаты"></div>
                            <div class="staffReq"><input type="text" th:value="${el.price}" onkeyup="checkParams()" id="price" name="price" placeholder="Прайс"></div>
                        </div>

                        <form class="wrap" th:action="@{/AllAccommodation}" method="post" >

                            <button class="btnDelete" type="submit">Обновить</button>
                        </form>
                    </form>
                </div>
            </div>

        </div>
    </div>
</section>

<div class="footer">
    <p> &copy; Санаторий профилакторий "Озеро Глухое" 2021.</p>
</div>

<script src="http://code.jquery.com/jquery-1.11.1.min.js"></script>
<script src="https://unpkg.com/imask"></script>
<script src="/scripts/home.js"></script>



</body>




</html>
