<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" href="/css/allAccommodation.css"/>
    <title th:text="${title}"/>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <script src="https://unpkg.com/imask"></script>

    <header th:insert="blocks/headerAdmin :: headerAdmin"></header>

</head>
<body>



<section class="sectionRequest">
    <div class="StaffsFilter">
        <h1>Номерной фонд 1 корпус</h1>
        <div th:each="el : ${prices}" class="request">
            <div class="allDiv">
                <div class="c1">
                    <div class="staffReq1">Тип комнаты</div>
                    <div class="staffReq1">Цена</div>
                </div>
                <div class="c1" >
                    <div th:text="${el.type}"  class="staffReq"><input type="text" id="lname" name="lname" ></div>
                    <div th:text="${el.price}" class="staffReq"><input type="text" id="fname" name="fname" ></div>
                </div>
                <form >
                    <button class="btnDelete" type="submit"><a th:href="'/AllAccommodation/' + ${el.id} + '/edit'">Редактировать</a></button>
                </form>
            </div>
        </div>
    </div>
</section>



<section class="sectionRequest">
    <div class="StaffsFilter">
        <h1>Номерной фонд 2 корпус</h1>
        <div th:each="el : ${pricess}" class="request">
            <div class="allDiv">
                <div class="c1">
                    <div class="staffReq1">Тип комнаты</div>
                    <div class="staffReq1">Цена</div>
                </div>
                <div class="c1" >
                    <div th:text="${el.type}"  class="staffReq"><input type="text" id="lname" name="lname" ></div>
                    <div th:text="${el.price}" class="staffReq"><input type="text" id="fname" name="fname" ></div>
                </div>
                <form >
                    <button class="btnDelete" type="submit"><a th:href="'/AllAccommodation/' + ${el.id} + '/edit'">Редактировать</a></button>
                </form>
            </div>
        </div>
    </div>
</section>

<div class="footer">
    <p> &copy; Санаторий профилакторий "Озеро Глухое" 2021.</p>
</div>

<script src="http://code.jquery.com/jquery-1.11.1.min.js"></script>
<script src="https://unpkg.com/imask"></script>
<script src="/scripts/home.js"></script>
<!--<script src="system/js/global.js"></script>  Для даты -->



</body>

<!--<footer th:insert="blocks/footer :: footer"></footer>-->


</html>