<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" href="/css/Accommodation_Edit.css"/>
    <title th:text="${'Редактор комнаты'}"/>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="">
    <script src="https://unpkg.com/imask"></script>
    <header th:insert="blocks/headerAdmin :: headerAdmin"></header>



</head>
<body>



<section class="newPeoples">
    <h3 >Номерной фонд</h3>

    <div class="nameColumn">
        <div class="wrap1">Тип</div>
        <div class="wrap1">Цена</div>
        <div class="wrap1"></div>

    </div>


    <form  method="post">
        <div  th:each="el : ${post}" class="editStaff">
            <div class="wrap"><input type="text" th:value="${el.type}" onkeyup="checkParams()" id="type" name="type" placeholder="Тип"></div>
            <div class="wrap"><input type="text" th:value="${el.price}" onkeyup="checkParams()" id="price" name="price" placeholder="Цена"></div>
            <form th:action="@{/AllAccommodation}" method="post" class="wrap">
                <input type="submit"   class="glow-button" value="Обновить"  >
            </form>
        </div>
    </form>


</section>


<script src="http://code.jquery.com/jquery-1.11.1.min.js"></script>
<script src="https://unpkg.com/imask"></script>
<script src="/scripts/home.js"></script>



</body>




</html>
