<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" href="/css/allActualInformation.css"/>
    <title th:text="${'Актуальная информация'}"/>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="">
    <script src="https://unpkg.com/imask"></script>
    <header th:insert="blocks/headerAdmin :: headerAdmin"></header>



</head>
<body>

<section class="Rooms1">
    <h1 >Добавить актуальную информацию</h1>

    <form th:action="@{/AdminActualInformation}" method="post">
        <div class="allDivctualInformation">
            <div class="DivActualInformation">
                <textarea class="size" name="text" id="text" placeholder="Добавить актуальную информацию"></textarea>
            </div>

            <div class="DivActualInformation">
                <button class="btnAdd"  type="submit">Добавить</button>
            </div>

        </div>

    </form>
</section>

<section class="Rooms">

    <h1 >Актуальная информация</h1>

    <div th:each="el : ${ActualInformations}" class="editInformation">

        <div>
            <p th:text="${el.text}" class="size" name="text" id="text" placeholder="Текст"></p>
        </div>

<!--        <div class="edit">-->
<!--            <a th:href="'/AdminActualInformation/' + ${el.id} + '/edit'" class="test">Редактировать</a>-->
<!--        </div>-->

        <div class="inline">
            <div class="btnEdit"><a th:href="'/AdminActualInformation/' + ${el.id} + '/edit'">Редактировать</a></div>
            <form  th:action="'/AdminActualInformation/' + ${el.id} +'/remove'" method="post">
                <button class="btnDelete" type="submit">Удалить</button>
            </form>
        </div>

<!--        <form class="edit"  th:action="'/AdminActualInformation/' + ${el.id} +'/remove'" method="post">-->
<!--            <button class="btnDelete"  type="submit">Удалить</button>-->
<!--        </form>-->
<!--        <hr class="hh1">-->
    </div>

</section>

<script src="http://code.jquery.com/jquery-1.11.1.min.js"></script>
<script src="https://unpkg.com/imask"></script>
<script src="/scripts/home.js"></script>
<!--<script src="system/js/global.js"></script>  Для даты -->

<div class="footer">
    <p> &copy; Санаторий профилакторий "Озеро Глухое" 2021.</p>
</div>

</body>

<!-- <footer th:insert="blocks/footer :: footer"></footer> -->


</html>