<!DOCTYPE HTML>
<html xmlns="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" href="/css/addActualInformation.css"/>
    <title th:text="${'Добавить актуальнаю информацию'}"/>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="">
    <script src="https://unpkg.com/imask"></script>
    <header th:insert="blocks/headerAdmin :: headerAdmin"></header>



</head>
<body>



<section class="newActualInformation">
    <h3 >Добавить информацию</h3>
    <br>

    <!--th:action="@{/AddActualInformation}"  action="/AddActualInformation" -->
    <form th:action="@{/AddActualInformation}" method="post">
        <div class="allDivctualInformation">
            <div class="DivActualInformation">
                <textarea class="size" name="text" id="text" placeholder="Добавить актуальную информацию"></textarea>
            </div>

            <div class="DivActualInformation">
                <button  type="submit">Добавить</button>
            </div>

            </div>

    </form>
</section>




<script src="http://code.jquery.com/jquery-1.11.1.min.js"></script>
<script src="https://unpkg.com/imask"></script>
<script src="/scripts/home.js"></script>
<!--<script src="system/js/global.js"></script>  Для даты -->



</body>

<!-- <footer th:insert="blocks/footer :: footer"></footer> -->


</html>