<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" href="/css/addActualInformation.css"/>
    <title th:text="${'Мероприятия'}"/>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="">
    <script src="https://unpkg.com/imask"></script>
    <header th:insert="blocks/headerAdmin :: headerAdmin"></header>



</head>
<body>



<section class="newPeoples">
    <h3 >Мероприятия</h3>
    <br>

    <div class="allDivNewPeoples">
     <!--   <div class="wrap1">ID</div>
        <div class="wrap1">Табельный номер</div> -->
        <div class="wrap1">Текст</div>

        <div class="wrap1"></div>

    </div>

    <form action="/AddEvent" method="post">
        <div class="allDivNewPeoples">
                <!-- <div><input type="text" onkeyup="checkParams()" id="id" name="id" placeholder="ID"></div> -->
                   <!-- <div><input type="text" onkeyup="checkParams()" id="personnelNumber" name="personnelNumber" placeholder="Табельный номер"></div>
                    <div><input type="text" onkeyup="checkParams()" id="tex1t" name="text" placeholder="Текст"></div> -->
                       <div> <textarea class="size" name="text" id="text" placeholder="Текст"></textarea> </div>


                    <button class="btn btn-warning" type="submit">Добавить</button>

            </div>
            </div>
    </form>
</section>




<script src="http://code.jquery.com/jquery-1.11.1.min.js"></script>
<script src="https://unpkg.com/imask"></script>
<script src="/scripts/home.js"></script>
<!--<script src="system/js/global.js"></script>  Для даты -->



</body>

<!-- <footer th:insert="blocks/footer :: footer"></footer> -->


</html>