<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" href="/css/addStaff.css"/>
    <title th:text="${'Добавить сотрудника'}"/>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="">
    <script src="https://unpkg.com/imask"></script>
    <header th:insert="blocks/headerAdmin :: headerAdmin"></header>



</head>
<body>



<section class="newPeoples">
    <h3 >Добавить нового сотрудника</h3>
    <br>

    <div class="allDivNewPeoples">
     <!--   <div class="wrap1">ID</div>
        <div class="wrap1">Табельный номер</div> -->
        <div class="wrap1">Фамилия</div>
        <div class="wrap1">Имя</div>
        <div class="wrap1">Отчество</div>
        <div class="wrap1">Должность</div>
        <div class="wrap1"></div>

    </div>

    <form  th:action="@{/AddStaff}" method="post">
        <div class="allDivNewPeoples">
                    <div><input type="text" onkeyup="checkParams()" id="lname" name="lname" placeholder="Фамилия"></di>
                    <div><input type="text" onkeyup="checkParams()" id="fname" name="fname" placeholder="Имя"></div>
                    <div><input type="text" onkeyup="checkParams()" id="pname" name="pname" placeholder="Отчество"></div>
                    <div><input type="text" onkeyup="checkParams()" id="position" name="position" placeholder="Должность"></div>
                    <button class="btn btn-warning" type="submit">Добавить</button>

            </div>
            </div>
    </form>
</section>




<script src="http://code.jquery.com/jquery-1.11.1.min.js"></script>
<script src="https://unpkg.com/imask"></script>
<script src="/scripts/home.js"></script>
<!--<script src="system/js/global.js"></script>  Для даты -->



</body>

<!-- <footer th:insert="blocks/footer :: footer"></footer> -->


</html>