<!--<!DOCTYPE HTML>-->
<!--<html xmlns:th="http://www.thymeleaf.org">-->
<!--<head>-->
<!--    <link rel="stylesheet" href="/css/adminHome.css"/>-->
<!--    <title th:text="${title}"/>-->
<!--    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />-->
<!--    <script src="https://unpkg.com/imask"></script>-->

<!--    <header th:insert="blocks/headerAdmin :: headerAdmin"></header>-->
<!--</head>-->
<!--<body>-->
<!--<h1>TEST</h1>-->
<!--<script src="http://code.jquery.com/jquery-1.11.1.min.js"></script>-->
<!--<script src="https://unpkg.com/imask"></script>-->
<!--<script src="/scripts/home.js"></script>-->
<!--&lt;!&ndash;<script src="system/js/global.js"></script>  Для даты &ndash;&gt;-->
<!--</body>-->
<!--</html>-->
