<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" href="/css/allClientsEdit.css"/>
    <title th:text="${'Редактировать клиента'}"/>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="">
    <script src="https://unpkg.com/imask"></script>
    <header th:insert="blocks/headerAdmin :: headerAdmin"></header>



</head>
<body>



<section class="booking">
    <h3 >Бронирование</h3>

    <div class="allDiv">

        <div class="wrap">№ корпуса</div>
        <div class="wrap">№ комнаты</div>
        <div class="wrap">Дата заезда</div>
        <div class="wrap">Дата выезда</div>
        <div class="wrap">Фамилия</div>
        <div class="wrap">Имя</div>
        <div class="wrap">Отчество</div>
        <div class="wrap">№ телефона</div>
    </div>


    <form  method="post">
        <div  th:each="el : ${post}" class="allDiv">
           <!-- <div class="wrap"><input type="text" th:value="${el.id}" onkeyup="checkParams()" id="id" name="id" placeholder="ID"></div>
            --><div class="wrap"><input type="text" th:value="${el.korpus}" onkeyup="checkParams()" id="korpus" name="korpus" placeholder="Корпус"></div>
            <div class="wrap"><input type="text" th:value="${el.myRoomId}" onkeyup="checkParams()" id="myRoomId" name="myRoomId" placeholder="Комната"></div>
            <div class="wrap"><input type="text" th:value="${el.dateIn}" onkeyup="checkParams()" id="dateIn" name="dateIn" placeholder="Дата заезда"></div>
            <div class="wrap"><input type="text" th:value="${el.dateOut}" onkeyup="checkParams()" id="dateOut" name="dateOut" placeholder="Дата выезда"></div>
            <div class="wrap"><input type="text" th:value="${el.fname}" onkeyup="checkParams()" id="fname" name="fname" placeholder="Фамилия"></div>
            <div class="wrap"><input type="text" th:value="${el.lname}" onkeyup="checkParams()" id="lname" name="lname" placeholder="Имя"></div>
            <div class="wrap"><input type="text" th:value="${el.pname}" onkeyup="checkParams()" id="pname" name="pname" placeholder="Отчество"></div>
            <div class="wrap"><input type="text" th:value="${el.phone}" onkeeyup="checkParams()" id="phone" name="phone" placeholder="Номер телефона"></div>

            <form class="wrap" th:action="@{/AllClients}" method="post" >
                <input type="submit"  id="submit" class="glow-button" value="Обновить"  >
            </form>
        </div>
    </form>


</section>


<script src="http://code.jquery.com/jquery-1.11.1.min.js"></script>
<script src="https://unpkg.com/imask"></script>
<script src="/scripts/home.js"></script>



</body>




</html>
