<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" href="/css/allRequestForAdmin.css">

    <title th:text="${'Список заявок'}"/>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <script src="https://unpkg.com/imask"></script>

    <header th:insert="blocks/headerAdmin :: headerAdmin"></header>
</head>
<body>


<section class="sectionRequest">

    <div class="newRequest">
        <h3 >Список заявок</h3>
        <br>
        <div class="find" >
            <form method="post"  th:action="AllRequestAdminFilter">
                <input class="" type="text" name="filter" placeholder="Поиск по статусу заявки" id="status2" />
                <select onchange=document.getElementById('status2').value=this.options[this.selectedIndex].value>
                    <option disabled selected >Статус заявки</option>
                    <option class="" value="Выполнено">Выполнено</option>
                    <option class="" value="На выполнении">На выполнении</option>
                    <option class="" value="Не выполнено">Не выполнено</option>
                </select>
                <button type="submit">Найти</button>
            </form>
        </div>

        <div th:each="el : ${requests}" class="request">
            <h4>Заказчик</h4>
            <div class="allDiv">
                <div class="c1">
                    <div class="name">Дата подачи заявки</div>
                    <div class="name">Уровень</div>
                    <div class="name">№ корпуса - № комнаты</div>
                    <div class="name">Заказчик</div>
                </div>
                <div class="c1">
                    <div th:text="${el.createDate}" class="wrap1"><input type="text" id="createDate" name="createDate"></div>
                    <div th:text="${el.level}" class="wrap1"><input type="text" id="level" name="level"></div>
                    <div th:text="${el.room}" class="wrap1"><input type="text" id="room" name="romm"></div>
                    <div th:text="${el.fromWhom}" class="wrap1"><input type="text" id="fromWhom" name="fromWhom"></div>
                </div>
                <h4>Именование заявки</h4>
                <div class="c2">
                    <div th:text="${el.text}" class="wrap2"><textarea type="text" id="text" name="text"></textarea></div>
                </div>
                <h4>Исполнитель</h4>
                <div class="c1">
                    <div  class="name">Исполнитель</div>
                    <div  class="name">Статус</div>
                    <div  class="name">ФИО исполнителя</div>
                    <div  class="name">Дата выполнения</div>
                </div>

                <div class="c1">
                    <div th:text="${el.toWhom}" class="wrap1"><input type="text" id="toWhom" name="toWhom"></div>
                    <div th:text="${el.status}" class="wrap1"><input type="text" id="status" name="status"></div>
                    <div th:text="${el.fulfiled}" class="wrap1"><input type="text" id="fulfiled" name="fulfiled"></div>
                    <div th:text="${el.endDate}"class="wrap1"><input type="text" id="endDate" name="endDate"></div>
                </div>

                <div  class="delete"><a th:href="'/AllRequest/' + ${el.id} + '/edit'" class="test">Редактировать</a></div>

                    <form th:action="'/AllRequest/' + ${el.id} +'/remove'" method="post">
                        <button class="delete" type="submit">Удалить</button>
                    </form>
               </div>



            </div>

<!--        <div class="pad"></div>-->
       </div>

<!--    <br>-->
<!--    <br>-->
<!--    <br>-->

</section>









<script src="http://code.jquery.com/jquery-1.11.1.min.js"></script>
<script src="https://unpkg.com/imask"></script>
<script src="/scripts/home.js"></script>
<!--<script src="system/js/global.js"></script>  Для даты -->



</body>

<!--<footer th:insert="blocks/footer :: footer"></footer>-->


</html>