<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" href="/css/allTour.css"/>
    <title th:text="${'Туры'}"/>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="">
    <script src="https://unpkg.com/imask"></script>
    <header th:insert="blocks/headerAdmin :: headerAdmin"></header>



</head>
<body>


<section class="newPeoples">
    <h3 >Все туры</h3>

    <div class="nameColumn">
        <!--   <div class="wrap1">ID</div> -->
        <div class="wrap1">Корпус</div>
        <div class="wrap1">Дата заезда</div>
        <div class="wrap1">Дата выезда</div>
        <div class="wrap1">Кол-во дней</div>
        <div class="wrap1">Наименование тура</div>
        <div class="wrap1"></div>
        <div class="wrap1"></div>
    </div>
    <br>
    <br>


    <div th:each="el : ${payments}" class="editStaff">
        <div  th:text="${el.id}" class="wrap"><input type="text" id="id" name="id" placeholder="Корпус"></div>
        <div th:text="${el.id_booking}" class="wrap"><input type="text" id="id_booking" name="id_booking" placeholder="Дата заезда"></div>
        <div th:text="${el.payment}" class="wrap"><input type="text" id="payment" name="payment" placeholder="Дата выезда"></div>
        <div th:text="${el.sum}" class="wrap"><input type="text" id="sum" name="sum" placeholder="Кол-во дней"></div>

    </div>
</section>


<script src="http://code.jquery.com/jquery-1.11.1.min.js"></script>
<script src="https://unpkg.com/imask"></script>
<script src="/scripts/home.js"></script>
<!--<script src="system/js/global.js"></script>  Для даты -->



</body>

<!-- <footer th:insert="blocks/footer :: footer"></footer> -->


</html>