<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" href="/css/allTourEdit.css"/>
    <title th:text="${'Клиенты'}"/>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="">
    <script src="https://unpkg.com/imask"></script>
    <header th:insert="blocks/headerAdmin :: headerAdmin"></header>



</head>
<body>



<section class="newPeoples">
    <h3 >Все туры</h3>

    <div class="nameColumn">
        <!--   <div class="wrap1">ID</div> -->
        <div class="wrap1">Корпус</div>
        <div class="wrap1">Дата заезда</div>
        <div class="wrap1">Дата выезда</div>
        <div class="wrap1">Кол-во дней</div>
        <div class="wrap1">Наименование тура</div>
        <div class="wrap1"></div>
        <div class="wrap1"></div>
    </div>


    <form  method="post">
        <div  th:each="el : ${post}" class="editStaff">
            <div class="wrap"><input type="text" th:value="${el.tourKorpus}" onkeyup="checkParams()" id="tourKorpus" name="tourKorpus" placeholder="Корпус"></div>
            <div class="wrap"><input type="text" th:value="${el.tourDateIn}" onkeyup="checkParams()" id="tourDateIn" name="tourDateIn" placeholder="Дата заезда"></div>
            <div class="wrap"><input type="text" th:value="${el.tourDateOut}" onkeyup="checkParams()" id="tourDateOut" name="tourDateOut" placeholder="Дата выезда"></div>
            <div class="wrap"><input type="text" th:value="${el.tourDays}" onkeyup="checkParams()" id="tourDays" name="tourDays" placeholder="Кол-во дней"></div>
            <div class="wrap"><input type="text" th:value="${el.tourName}" onkeyup="checkParams()" id="tourName" name="tourName" placeholder="Наименование тура"></div>
            <div class="wrap"><input type="submit"   class="glow-button" value="Обновить"  ></div> <!-- disabled onclick="window.open('/payment' , '_self')"-->
            <!--  <div class="wrap"><input type="submit"  id="submit1" class="glow-button" value="Remove"  ></div>  disabled onclick="window.open('/payment' , '_self')"-->
        </div>
    </form>


</section>


<script src="http://code.jquery.com/jquery-1.11.1.min.js"></script>
<script src="https://unpkg.com/imask"></script>
<script src="/scripts/home.js"></script>



</body>




</html>
