<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" href="/css/allClientsEdit.css"/>
    <title th:text="${'Редактировать клиента'}"/>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="">
    <script src="https://unpkg.com/imask"></script>
    <header th:insert="blocks/headerAdmin :: headerAdmin"></header>



</head>
<body>



<section class="sectionRequest">
    <div class="StaffsFilter">
        <h1>Редактировать клиента</h1>
        <div class="DivRequest" >
            <div class="request">
                <div class="c1">
                    <div class="staffReq1">№ корпуса</div>
                    <div class="staffReq1">№ комнаты</div>
                    <div class="staffReq1">Дата заезда</div>
                    <div class="staffReq1">Дата выезда</div>
                    <div class="staffReq1">Фамилия</div>
                    <div class="staffReq1">Имя</div>
                    <div class="staffReq1">Отчество</div>
                    <div class="staffReq1">Телефон</div>
                    <div class="staffReq1">E-mail</div>
                </div>
                <div class="allDiv">

                    <form  method="post">
                        <div  th:each="el : ${post}" class="c1">

                            <div class="staffReq"><input type="text" th:value="${el.korpus}" onkeyup="checkParams()" id="korpus" name="korpus" placeholder="Корпус"></div>
                            <div class="staffReq"><input type="text" th:value="${el.myRoomId}" onkeyup="checkParams()" id="myRoomId" name="myRoomId" placeholder="Комната"></div>
                            <div class="staffReq"><input type="text" th:value="${el.dateIn}" onkeyup="checkParams()" id="dateIn" name="dateIn" placeholder="Дата заезда"></div>
                            <div class="staffReq"><input type="text" th:value="${el.dateOut}" onkeyup="checkParams()" id="dateOut" name="dateOut" placeholder="Дата выезда"></div>
                            <div class="staffReq"><input type="text" readonly th:value="${el.fname}" onkeyup="checkParams()" id="fname" name="fname" placeholder="Фамилия"></div>
                            <div class="staffReq"><input type="text" readonly th:value="${el.lname}" onkeyup="checkParams()" id="lname" name="lname" placeholder="Имя"></div>
                            <div class="staffReq"><input type="text" readonly th:value="${el.pname}" onkeyup="checkParams()" id="pname" name="pname" placeholder="Отчество"></div>
                            <div class="staffReq"><input type="text" readonly th:value="${el.phone}" onkeeyup="checkParams()" id="phone1" name="phone" placeholder="Номер телефона"></div>
                            <div class="staffReq"><input type="text" readonly th:value="${el.email}" onkeeyup="checkParams()" id="email" name="email" placeholder="Email"></div>


                        </div>
                        <form class="wrap" th:action="@{/AllClients}" method="post" >
                            <!--   <input type="submit"  id="submit" class="btnDelete" value="Обновить"  > -->
                            <button class="btnDelete" type="submit">Обновить</button>
                        </form>
                    </form>
                </div>
            </div>

        </div>
        </div>
</section>

<div class="footer">
    <p> &copy; Санаторий профилакторий "Озеро Глухое" 2021.</p>
</div>

<script src="http://code.jquery.com/jquery-1.11.1.min.js"></script>
<script src="https://unpkg.com/imask"></script>
<script src="/scripts/home.js"></script>



</body>




</html>
