<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" href="/css/allClients.css"/>
    <title th:text="${'Клиенты'}"/>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="">
    <script src="https://unpkg.com/imask"></script>
    <header th:insert="blocks/headerAdmin :: headerAdmin"></header>



</head>
<body>


<section class="sectionRequest">
    <div class="StaffsFilter">
        <h1>Список клиентов</h1>
        <div class="DivRequest" >
            <div class="c1">
                <div class="staffReq1">№ корпуса</div>
                <div class="staffReq1">№ комнаты</div>
                <div class="staffReq1">Дата заезда</div>
                <div class="staffReq1">Дата выезда</div>
                <div class="staffReq1">Фамилия</div>
                <div class="staffReq1">Имя</div>
                <div class="staffReq1">Отчество</div>
                <div class="staffReq1">Телефон</div>
                <div class="staffReq1">E-mail</div>
            </div>
            <div th:each="el : ${bookings}" class="request">
                <div class="allDiv">
                    <div class="c1" >
                        <div th:text="${el.korpus}" class="staffReq"><input type="text" id="tourId" name="tourId" placeholder="Фамилия"></div>
                        <div th:text="${el.myRoomId}" class="staffReq"><input type="text" id="myRoomId" name="myRoomId" placeholder="Имя"></div>
                        <div th:text="${el.dateIn}" class="staffReq"><input type="text" id="dateIn" name="dateIn" placeholder="Дата заезда"></div>
                        <div th:text="${el.dateOut}" class="staffReq"><input type="text" id="days" name="days" placeholder="Кол-во дней"></div>
                        <div th:text="${el.fname}" class="staffReq"><input type="text" id="fname" name="fname" placeholder="Номер телефона"></div>
                        <div th:text="${el.lname}" class="staffReq"><input type="text" id="lname" name="lname" placeholder="Отчество"></div>
                        <div th:text="${el.pname}" class="staffReq"><input type="text" id="pname" name="pname" placeholder="Тур"></div>
                        <div th:text="${el.phone}" class="staffReq"><input type="text" id="phone1" name="phone" placeholder="Комната"></div>
                        <div th:text="${el.email}" class="staffReq"><input type="text" id="email" name="email" placeholder="Email"></div>
                    </div>

                    <div class="inline">
                        <div class="btnEdit"><a th:href="'/AllClients/' + ${el.id} + '/edit'">Редактировать</a></div>
                        <form  th:action="'/AllClients/' + ${el.id} +'/remove'" method="post">
                            <button class="btnDelete" type="submit">Удалить</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
</section>


<script src="http://code.jquery.com/jquery-1.11.1.min.js"></script>
<script src="https://unpkg.com/imask"></script>
<script src="/scripts/home.js"></script>
<!--<script src="system/js/global.js"></script>  Для даты -->


<div class="footer">
    <p> &copy; Санаторий профилакторий "Озеро Глухое" 2021.</p>
</div>

</body>

<!-- <footer th:insert="blocks/footer :: footer"></footer> -->


</html>