<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" href="/css/RequestForAdmin.css">

    <title th:text="${'Список заявок'}"/>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <script src="https://unpkg.com/imask"></script>

    <header th:insert="blocks/headerAdmin :: headerAdmin"></header>
</head>
<body>


<section class="sectionRequest">
<section class="newRequest2">
    <h1 >Написать заявку</h1>

    <form th:action="@{/AdminRequest}" method="post">
        <div class="allDivRequest">


            <div class="DivRequest">
                <input class="inn" type="text" onkeyup="checkParams()" id="rm" name="room" placeholder="№ корпуса - № комнаты (*-***)">
            </div>

            <div class="DivRequest">
                <input class="inn"  name="level" placeholder="Уровень заявки" id="levellevel" />
                <select class="inn" onchange=document.getElementById('levellevel').value=this.options[this.selectedIndex].value>
                    <option disabled selected >Уровень заявки</option>
                    <option class="" value="Срочный">Срочный</option>
                    <option class="" value="В течении дня">В течении дня</option>
                </select>
            </div>

            <div class="DivRequest">
                <input  class="inn" name="fromWhom" placeholder="От кого заявка" id="fromWhomfromWhom" />
                <select class="inn" onchange=document.getElementById('fromWhomfromWhom').value=this.options[this.selectedIndex].value>
                    <option disabled selected >Заявитель</option>
                    <option class="" value="Электромонтер">Электромонтер</option>
                    <option class="" value="Сантехник">Сантехник</option>
                    <option class="" value="Комплексный_рабочий">Комплексный рабочий</option>
                    <option class="" value="Горничная">Горничная</option>
                    <option class="" value="Администратор">Администратор</option>
                    <option class="" value="Дежурная_мед_сестра">Дежурная мед. сестра</option>
                    <option class="" value="Глав_врач">Глав. врач</option>
                    <option class="" value="Директор">Директор</option>
                    <option class="" value="Зав_хоз"> Зав. хоз</option>
                    <option class="" value="Старшая_мед_сестра">Старшая мед. сестра</option>
                    <option class="" value="Начальник_хоз_службы">Начальник хозю. службы</option>
                    <option class="" value="Официант">Официант</option>
                    <option class="" value="Начальник_столовой">Начальник столовой</option>
                    <option class="" value="Работник_по_развлек_части">Работник по развлек. части</option>
                    <option class="" value="Начальник_ПТС">Начальник ПТС</option>

                </select>
            </div>


            <div class="DivRequest">
                <input  class="inn" name="toWhom" placeholder="Кому заявка" id="position" />
                <select class="inn" onchange=document.getElementById('position').value=this.options[this.selectedIndex].value>
                    <option disabled selected >Исполнитель заявки</option>
                    <option class="" value="Электромонтер">Электромонтер</option>
                    <option class="" value="Сантехник">Сантехник</option>
                    <option class="" value="Комплексный_рабочий">Комплексный рабочий</option>
                    <option class="" value="Горничная">Горничная</option>
                    <option class="" value="Администратор">Администратор</option>
                    <option class="" value="Дежурная_мед_сестра">Дежурная мед. сестра</option>
                    <option class="" value="Глав_врач">Глав. врач</option>
                    <option class="" value="Директор">Директор</option>
                    <option class="" value="Зав_хоз"> Зав. хоз</option>
                    <option class="" value="Старшая_мед_сестра">Старшая мед. сестра</option>
                    <option class="" value="Начальник_хоз_службы">Начальник хозю. службы</option>
                    <option class="" value="Официант">Официант</option>
                    <option class="" value="Начальник_столовой">Начальник столовой</option>
                    <option class="" value="Работник_по_развлек_части">Работник по развлек. части</option>
                    <option class="" value="Начальник_ПТС">Начальник ПТС</option>
                </select>
            </div>

            <div class="DivRequest">

                <select class="in" onchange=document.getElementById('text').value=this.options[this.selectedIndex].value>
                    <option disabled selected >Описание проблемы</option>
                    <option class="inn" value="Перегорела лампочка">Перегорела лампочка</option>
                    <option class="inn" value="Не работает розетка">Не работает розетка</option>
                    <option class="inn" value="Плохо показывает телевизор">Плохо показывает телевизор</option>
                    <option class="inn" value="Холодно в комнате">Холодно в комнате</option>
                    <option class="inn" value="Капает кран">Капает кран</option>
                    <option class="inn" value="Засор">Засор</option>
                    <option class="inn" value="Села батарейка в часах">Села батарейка в часах</option>
                    <option class="inn" value="Сломалась мебель">Сломалась мебель</option>
                    <option class="inn" value="Не закрывается дверь">Не закрывается дверь</option>
                    <option class="inn" value="Убрать в комнате">Убрать в комнате</option>
                    <option class="inn" value="Требуется манеж">Требуется манеж</option>
                    <option class="inn" value="Требуется раскладушка">Требуется раскладушка</option>
                    <option class="inn" value="Требуется полотенце">Требуется полотенце</option>
                    <option class="inn" value="Принести дистиллированную воду ">Принести дистиллированную воду </option>
                    <option class="inn" value="Принести питьевую воду ">Принести питьевую воду </option>
                </select>
            </div>

            <div class="DivRequest">
                <!--                <textarea  class="size" name="text" id="text" placeholder="Обновить актуальную информацию" th:text="${el.text}"></textarea>-->

                <textarea class="size" name="text" id="texttext" placeholder="Выберете из списка что требуется или опишите пробелему сами"/></textarea>
            </div>
            <div class="DivRequest">
                <button class="btnComment"    type="submit">Отправить заявку</button>
            </div>
        </div>
    </form>
</section>
</section>


<section class="sectionRequest">
    <div class="newRequest1">
        <h1 >Список заявок</h1>
        <div class="DivRequest" >
            <form method="post"  th:action="AllRequestAdminFilter">
                <input class="inn"type="hidden" name="filter" placeholder="Поиск по статусу заявки" id="status2" />
                <select class="inn" onchange=document.getElementById('status2').value=this.options[this.selectedIndex].value>
                    <option disabled selected >Статус заявки</option>
                    <option class="" value="Выполнено">Выполнено</option>
                    <option class="" value="На выполнении">На выполнении</option>
                    <option class="" value="Не выполнено">Не выполнено</option>
                </select>
                <div class="DivRequest1" >
                    <button class="btnComment" type="submit">Найти</button>
                </div>
            </form>
        </div>

        <div th:each="el : ${requests}" class="request">
            <h4>Заказчик</h4>
            <div class="allDiv">
                <div class="c1">
                    <div class="staffReq">Дата подачи заявки</div>
                    <div class="staffReq">Уровень</div>
                    <div class="staffReq">№ корпуса - № комнаты</div>
                    <div class="staffReq">Заказчик</div>
                </div>
                <div class="c1">
                    <div th:text="${el.createDate}" class="staffReq"><input type="text" id="createDate" name="createDate"></div>
                    <div th:text="${el.level}" class="staffReq"><input type="text" id="level" name="level"></div>
                    <div th:text="${el.room}" class="staffReq"><input type="text" id="room" name="romm"></div>
                    <div th:text="${el.fromWhom}" class="staffReq"><input type="text" id="fromWhom" name="fromWhom"></div>
                </div>
                <h4>Именование заявки</h4>
                <div class="c2">
                    <div th:text="${el.text}" class="wrap2"><textarea type="text" id="text" name="text"></textarea></div>
                </div>
                <h4>Исполнитель</h4>
                <div class="c1">
                    <div  class="staffReq">Исполнитель</div>
                    <div  class="staffReq">Статус</div>
                    <div  class="staffReq">ФИО исполнителя</div>
                    <div  class="staffReq">Дата выполнения</div>
                </div>

                <div class="c1">
                    <div th:text="${el.toWhom}" class="staffReq"><input type="text" id="toWhom" name="toWhom"></div>
                    <div th:text="${el.status}" class="staffReq"><input type="text" id="status" name="status"></div>
                    <div th:text="${el.fulfiled}" class="staffReq"><input type="text" id="fulfiled" name="fulfiled"></div>
                    <div th:text="${el.endDate}"class="staffReq"><input type="text" id="endDate" name="endDate"></div>
                </div>

                <div class="inline">
                     <div  class="btnEdit"><a th:href="'/AdminRequest/' + ${el.id} + '/edit'" >Редактировать</a></div>
                    <form th:action="'/AdminRequest/' + ${el.id} +'/remove'" method="post">
                        <button class="btnDelete" type="submit">Удалить</button>
                    </form>
                </div>
               </div>
            </div>
       </div>
</section>




<div class="footer">
    <p> &copy; Санаторий профилакторий "Озеро Глухое" 2021.</p>
</div>




<script src="http://code.jquery.com/jquery-1.11.1.min.js"></script>
<script src="https://unpkg.com/imask"></script>
<script src="/scripts/home.js"></script>
<!--<script src="system/js/global.js"></script>  Для даты -->



</body>

<!--<footer th:insert="blocks/footer :: footer"></footer>-->


</html>