<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" href="/css/room.css"/>
    <title th:text="${title}"/>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="">
    <script src="https://unpkg.com/imask"></script>
    <header th:insert="blocks/headerAdmin :: headerAdmin"></header>



</head>
<body>


<section class="newPeoples">
    <h3 >Номерной фонд 2 корпуса</h3>

    <form method="post"  th:action="Rooms_2kFilter">
        <input type="text" name="filter" placeholder="Поиск">
        <button type="submit">Найти</button>
    </form>

                <div class="nameColumn">
                    <div class="wrap1">№ комнаты </div>
                    <div class="wrap1">Тип комнаты</div>
                    <div class="wrap1">Свободно мест</div>
                    <div class="wrap1"></div>
                    <div class="wrap1"></div>
                </div>

                <br>
                <br>

                <div th:each="el : ${Rooms_2k}" class="editStaff">
                    <div th:text="${el.roomsTwoKorpusId}" class="wrap"><input type="text" id="id" name="id" placeholder="Имя"></div>
                    <div th:text="${el.typeTwoKorpus}" class="wrap"><input type="text" id="name" name="fname" placeholder="Фамилия"></div>
                    <div th:text="${el.freeTwoKorpus}" class="wrap"><input type="text" id="name" name="fname" placeholder="Фамилия"></div>
                    <div><a th:href="'/Room_2k/' + ${el.roomsTwoKorpusId} + '/edit'" class="test">Редактировать</a></div>
                    <form th:action="'/Room_2k/' + ${el.roomsTwoKorpusId} +'/remove'" method="post">
                        <button class="btn btn-warning" type="submit">Удалить</button>
                    </form>
                </div>




</section>


<br>




<script src="http://code.jquery.com/jquery-1.11.1.min.js"></script>
<script src="https://unpkg.com/imask"></script>
<script src="/scripts/home.js"></script>
<!--<script src="system/js/global.js"></script>  Для даты -->



</body>

<!-- <footer th:insert="blocks/footer :: footer"></footer> -->


</html>