<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" href="/css/room.css"/>
    <title th:text="${title}"/>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="">
    <script src="https://unpkg.com/imask"></script>
    <header th:insert="blocks/headerAdmin :: headerAdmin"></header>



</head>
<body>





<section class="newPeoples">
    <h3 >Номерной фонд 1 корпуса</h3>

    <form method="post"  th:action="Rooms_1kFilter">
        <input type="text" name="filter" placeholder="Поиск по свободным номерам">
        <button type="submit">Найти</button>
    </form>

                <div class="nameColumn">
                    <div class="wrap1">№ комнаты </div>
                    <div class="wrap1">Тип комнаты</div>
                    <div class="wrap1">Свободно мест</div>
                    <div class="wrap1"></div>
                    <div class="wrap1"></div>
                </div>

                <br>
                <br>

    <div th:each="el : ${Rooms_1k}" class="editStaff">

        <div th:text="${el.roomsOneKorpusId}" class="wrap"><input type="text" id="id" name="id" placeholder="Имя"></div>
        <hr class="hh1">
        <div th:text="${el.typeOneKorpus}" class="wrap"><input type="text" id="name" name="fname" placeholder="Фамилия"></div>
        <hr class="hh1">
        <div th:text="${el.freeOneKorpus}" class="wrap"><input type="text" id="name" name="fname" placeholder="Фамилия"></div>
        <hr class="hh1">
        <div><a th:href="'/KorpusOneRoomsAdmin/' + ${el.roomsOneKorpusId} + '/edit'" class="test">Редактировать</a></div>
<!--        <form th:action="'/Room_1k/' + ${el.roomsOneKorpusId} +'/remove'" method="post">-->
<!--            <button class="btn btn-warning" type="submit">Удалить</button>-->
<!--        </form>-->
    </div>




</section>



<section class="newPeoples">
    <h3 >Номерной фонд 2 корпуса</h3>

    <form method="post"  th:action="Rooms_2kFilter">
        <input type="text" name="filter" placeholder="Поиск по свободным номерам">
        <button type="submit">Найти</button>
    </form>

    <div class="nameColumn">
        <div class="wrap1">№ комнаты </div>
        <div class="wrap1">Тип комнаты</div>
        <div class="wrap1">Свободно мест</div>
        <div class="wrap1"></div>
        <div class="wrap1"></div>
    </div>

    <br>
    <br>

    <div th:each="el : ${Rooms_2k}" class="editStaff">
        <div th:text="${el.roomsTwoKorpusId}" class="wrap"><input type="text" id="id" name="id" placeholder="Имя"></div>
        <hr class="hh1">
        <div th:text="${el.typeTwoKorpus}" class="wrap"><input type="text" id="name" name="fname" placeholder="Фамилия"></div>
        <hr class="hh1">
        <div th:text="${el.freeTwoKorpus}" class="wrap"><input type="text" id="name" name="fname" placeholder="Фамилия"></div>
        <hr class="hh1">
        <div><a th:href="'/KorpusTwoRoomsAdmin/' + ${el.roomsTwoKorpusId} + '/edit'" class="test">Редактировать</a></div>
        <!--                    <form th:action="'/Room_2k/' + ${el.roomsTwoKorpusId} +'/remove'" method="post">-->
        <!--                        <button class="btn btn-warning" type="submit">Удалить</button>-->
        <!--                    </form>-->
    </div>




</section>




<script src="http://code.jquery.com/jquery-1.11.1.min.js"></script>
<script src="https://unpkg.com/imask"></script>
<script src="/scripts/home.js"></script>
<!--<script src="system/js/global.js"></script>  Для даты -->



</body>

<!-- <footer th:insert="blocks/footer :: footer"></footer> -->


</html>