<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" href="/css/room_1k_Edit.css"/>
    <title th:text="${'Редактор комнаты'}"/>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="">
    <script src="https://unpkg.com/imask"></script>
    <header th:insert="blocks/headerAdmin :: headerAdmin"></header>



</head>
<body>



<section class="Rooms">
    <h1 >Номерной фонд 2 корпуса</h1>

    <div class="nameColumn">
        <div class="wrap1">№ комнаты </div>
        <div class="wrap1">Тип комнаты</div>
        <div class="wrap1">Свободно мест</div>
        <div class="wrap1"></div>

    </div>


    <form  method="post">
        <div  th:each="el : ${post}" class="editStaff">
            <div class="wrap"><input type="text" th:value="${el.roomsTwoKorpusId}" onkeyup="checkParams()" id="roomsTwoKorpusId" name="roomsTwoKorpusId" placeholder="№ комнаты"></div>
            <div class="wrap"><input type="text" th:value="${el.typeTwoKorpus}" onkeyup="checkParams()" id="typeTwoKorpus" name="typeTwoKorpus" placeholder="Тип комнаты"></div>
            <div class="wrap"><input type="text" th:value="${el.freeTwoKorpus}" onkeyup="checkParams()" id="freeTwoKorpus" name="freeTwoKorpus" placeholder="Заселение"></div>

            <form th:action="@{/KorpusTwoRoomsAdmin}" method="post" class="wrap">
                <input type="submit"   class="btnDelete" value="Обновить"  >
            </form>
        </div>
    </form>


</section>

<div class="footer">
    <p> &copy; Санаторий профилакторий "Озеро Глухое" 2021.</p>
</div>

<script src="http://code.jquery.com/jquery-1.11.1.min.js"></script>
<script src="https://unpkg.com/imask"></script>
<script src="/scripts/home.js"></script>



</body>




</html>
