<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" href="/css/allStaff.css"/>
    <title th:text="${'Сотрудники'}"/>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="">
    <script src="https://unpkg.com/imask"></script>
    <header th:insert="blocks/headerAdmin :: headerAdmin"></header>



</head>
<body>

<section class="addNewStaff">
    <h1 >Добавить нового сотрудника</h1>

    <div class="allDivName">
        <div class="staffsName">Фамилия</div>
        <div class="staffsName">Имя</div>
        <div class="staffsName">Отчество</div>
        <div class="staffsName">Должность</div>
    </div>

    <form  th:action="@{/Staffs}" method="post">
        <div class="allDivName">
            <div><input type="text" onkeyup="checkParams()" id="lname1" name="lname" placeholder="Фамилия"></di>
                <div><input type="text" onkeyup="checkParams()" id="fname1" name="fname" placeholder="Имя"></div>
                <div><input type="text" onkeyup="checkParams()" id="pname1" name="pname" placeholder="Отчество"></div>
                <div><input type="text" onkeyup="checkParams()" id="position1" name="position" placeholder="Должность"></div>
            </div>
        </div>
        <button class="btnStaff" type="submit">Добавить</button>
    </form>
<!--    <button class="btnStaff" type="submit">Добавить</button>-->
</section>

<section class="sectionRequest">
    <div class="StaffsFilter">
        <h1>Список заявок</h1>
        <div class="DivRequest" >
            <form method="post"  th:action="StaffFilter">
                <input class="inn" type="hidden" name="filter" placeholder="Поиск по должности" id="status" />
                <select class="inn" onchange=document.getElementById('status').value=this.options[this.selectedIndex].value>
                    <option disabled selected >Должность</option>
                    <option class="" value="Электромонтер">Электромонтер</option>
                    <option class="" value="Сантехник">Сантехник</option>
                    <option class="" value="Комплексный_рабочий">Комплексный рабочий</option>
                    <option class="" value="Рабочий КОиРЗ">Рабочий КОиРЗ</option>
                    <option class="" value="Горничная">Горничная</option>
                </select>
                <div class="DivRequest1" >
                    <button class="btnComment" type="submit">Найти</button>
                </div>
            </form>
        </div>

        <div th:each="el : ${staffs}" class="request">
            <div class="allDiv">
                <div class="c1">
                    <div class="staffReq1">Фамилия</div>
                    <div class="staffReq1">Имя</div>
                    <div class="staffReq1">Отчество</div>
                    <div class="staffReq1">Должность</div>
                </div>

                <div class="c1" >
                    <div th:text="${el.lname}" class="staffReq"><input type="text" id="lname" name="lname" ></div>
                    <div th:text="${el.fname}" class="staffReq"><input type="text" id="fname" name="fname" ></div>
                    <div th:text="${el.pname}" class="staffReq"><input type="text" id="pname" name="pname" ></div>
                    <div th:text="${el.position}" class="staffReq"><input type="text" id="phonde" name="phone" ></div>
                </div>

                <div class="inline">
                    <div class="btnEdit"><a th:href="'/Staffs/' + ${el.id} + '/edit'">Редактировать</a></div>
                    <form  th:action="'/Staffs/' + ${el.id} +'/remove'" method="post">
                        <button class="btnDelete" type="submit">Удалить</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>


<div class="footer">
    <p> &copy; Санаторий профилакторий "Озеро Глухое" 2021.</p>
</div>

<script src="http://code.jquery.com/jquery-1.11.1.min.js"></script>
<script src="https://unpkg.com/imask"></script>
<script src="/scripts/home.js"></script>
<!--<script src="system/js/global.js"></script>  Для даты -->



</body>

<!-- <footer th:insert="blocks/footer :: footer"></footer> -->


</html>