<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" href="/css/allStaffEdit.css"/>
    <title th:text="${'Редактировать сотрудника'}"/>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="">
    <script src="https://unpkg.com/imask"></script>
    <header th:insert="blocks/headerAdmin :: headerAdmin"></header>



</head>
<body>
<section class="sectionRequest">
    <div class="StaffsFilter">
        <h1>Редактировать сотрудника</h1>
        <div class="DivRequest" >
            <div class="request">
                <div class="c1">

                    <div class="staffReq1">Фамилия</div>
                    <div class="staffReq1">Имя</div>
                    <div class="staffReq1">Отчество</div>
                    <div class="staffReq1">Должность</div>
                </div>
                <div class="allDiv">

                    <form  method="post">
                        <div  th:each="el : ${post}" class="c1">

                            <div class="staffReq"><input type="text"  th:value="${el.fname}" onkeyup="checkParams()" id="fname" name="fname" placeholder="Фамилия"></div>
                            <div class="staffReq"><input type="text"  th:value="${el.lname}" onkeyup="checkParams()" id="lname" name="lname" placeholder="Имя"></div>
                            <div class="staffReq"><input type="text"  th:value="${el.pname}" onkeyup="checkParams()" id="pname" name="pname" placeholder="Отчество"></div>
                            <div class="staffReq"><input type="text"  th:value="${el.position}" onkeeyup="checkParams()" id="position" name="position" placeholder="Должность"></div>


                        </div>
                        <form class="wrap" th:action="@{/AllStaff}" method="post" >
                            <!--   <input type="submit"  id="submit" class="btnDelete" value="Обновить"  > -->
                            <button class="btnUpdate" type="submit">Обновить</button>
                        </form>
                    </form>
                </div>
            </div>

        </div>
    </div>
</section>


<!--<section class="newPeoples">-->
<!--    <h3 >Все сотруднии</h3>-->

<!--    <div class="nameColumn">-->
<!--        &lt;!&ndash;   <div class="wrap1">ID</div> &ndash;&gt;-->

<!--        <div class="wrap1">Фамилия</div>-->
<!--        <div class="wrap1">Имя</div>-->
<!--        <div class="wrap1">Отчество</div>-->
<!--        <div class="wrap1">Должность</div>-->
<!--        <div class="wrap1"></div>-->
<!--        <div class="wrap1"></div>-->
<!--    </div>-->


<!--    <form  method="post">-->
<!--        <div  th:each="el : ${post}" class="editStaff">-->
<!--            <div class="wrap"><input type="text" th:value="${el.lname}" onkeyup="checkParams()" id="lname" name="lname" placeholder="Фамилия"></div>-->
<!--            <div class="wrap"><input type="text" th:value="${el.fname}" onkeyup="checkParams()" id="fname" name="fname" placeholder="Имя"></div>-->
<!--            <div class="wrap"><input type="text" th:value="${el.pname}" onkeyup="checkParams()" id="pname" name="pname" placeholder="Отчество"></div>-->
<!--            <div class="wrap"><input type="text" th:value="${el.position}" onkeyup="checkParams()" id="position" name="position" placeholder="Должность"></div>-->


<!--            <form th:action="@{/AllStaff}" method="post" class="wrap">-->
<!--                <input type="submit"   class="glow-button" value="Обновить"  >-->
<!--            </form>-->
<!--        </div>-->
<!--    </form>-->


<!--</section>-->


<div class="footer">
    <p> &copy; Санаторий профилакторий "Озеро Глухое" 2021.</p>
</div>

<script src="http://code.jquery.com/jquery-1.11.1.min.js"></script>
<script src="https://unpkg.com/imask"></script>
<script src="/scripts/home.js"></script>



</body>




</html>
