<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" href="/css/actualInformation.css">

    <title th:text="${'Актуальная информация сотрудника'}"/>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <script src="https://unpkg.com/imask"></script>

    <header th:insert="blocks/headerStaffAccount :: headerStaffAccount"></header>
</head>
<body>

<section class="AllActualInformation">
    <h1 >Актуальная информация</h1>
    <div th:each="el : ${ActualInformations}" class="Information">
        <div>
            <p th:text="${el.text}" class="size" name="text" id="text" placeholder="Текст"></p>
        </div>

        <hr>
    </div>
</section>

<div class="footer">
    <p> &copy; Санаторий профилакторий "Озеро Глухое" 2021.</p>
</div>

<script src="http://code.jquery.com/jquery-1.11.1.min.js"></script>
<script src="https://unpkg.com/imask"></script>
<script src="/scripts/home.js"></script>
<!--<script src="system/js/global.js"></script>  Для даты -->



</body>



</html>