<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <link rel="stylesheet" href="/css/requestForAdmin.css">

    <title th:text="${'Список заявок'}"/>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <script src="https://unpkg.com/imask"></script>

    <header th:insert="blocks/headerStaffAccount :: headerStaffAccount"></header>
</head>
<body>


<section class="newRequest">
    <h3 >Ответить на заявку</h3>
    <br>

    <form  method="post">
        <div th:each="el : ${post}" class="allDivRequest">


  <!-- div class="wrap">
        <input type="text" th:value="${el.korpus}" onkeyup="checkParams()" id="korpus" name="korpus" placeholder="ID">
  </div>-->

<!--            <div class="DivRequest">-->
<!--                <input type="text" th:value="${el.korpus}" onkeyup="checkParams()" id="korpus" name="korpus" readonly placeholder="Ваш № корпуса">-->
<!--            </div>-->

            <div class="DivRequest">
                <input class="inn" type="text" th:value="${el.room}" onkeyup="checkParams()" id="room" name="room" readonly placeholder="№ корпуса - № комнаты">
            </div>

            <div class="DivRequest">
                <input  class="inn" th:value="${el.level}" name="level" placeholder="Уровень заявки" id="level" />
                <select class="inn" onchange=document.getElementById('level').value=this.options[this.selectedIndex].value>
                    <option disabled selected >Уровень заявки</option>
                    <option class="" value="Срочный">Срочный</option>
                    <option class="" value="В течении дня">В течении дня</option>
                </select>
            </div>

            <div class="DivRequest">
                <input  class="inn" th:value="${el.fromWhom}" readonly name="fromWhom" placeholder="От кого заявка" id="fromWhom" />
            </div>





            <div class="DivRequest">
                <input  class="inn" th:value="${el.toWhom}" readonly name="toWhom" placeholder="Кому заявка" id="position" />

            </div>



            <div class="DivRequest">
                <input  class="inn" th:value="${el.status}" name="status" placeholder="Статус" id="status" />
                <select class="inn" onchange=document.getElementById('status').value=this.options[this.selectedIndex].value>
                    <option disabled selected >Статус</option>
                    <option class="" value="Выполнено">Выполнено</option>
                    <option class="" value="На выполнении">На выполнении</option>
                    <option class="" value="Не выполнено">Не выполнено</option>
                </select>
            </div>

            <div class="DivRequest"  th:if="${#authentication.name == ('Электромонтер')}">
                <input class="inn" type="text" th:value="${el.fulfiled}" onkeyup="checkParams()" id="fulfiled" name="fulfiled" placeholder="ФИО исполнителя">

<!--                <input th:each="staff : ${staffs}" class="inn" type="text"  th:value="${staff.lname}" onkeyup="checkParams()" id="lname" name="lname" placeholder="Фамилия">-->
<!--                <input th:each="staff : ${staffs}" class="inn" type="text" th:value="${staff.fname}" onkeyup="checkParams()" id="fname" name="fname" placeholder="Имя">-->
<!--                <input th:each="staff : ${staffs}" class="inn" type="text" th:value="${staff.pname}" onkeyup="checkParams()" id="pname" name="pname" placeholder="Отчество">-->

                <select class="inn" onchange=document.getElementById('fulfiled').value=this.options[this.selectedIndex].value>
                    <option disabled selected >ФИО исполнителя</option>
<!--                    <option class="" value="Изилаев Г. А.">Изилаев Г. А.</option>-->
<!--                    <option class="" value="Гаврилин В. М.">Гаврилин В. М.</option>-->
<!--                    <option class="" value="Лобанов Д. А.">Лобанов Д. А.</option>-->
<!--                    <option class="" value="Квашнин А. Н.">Квашнин А. Н.</option>-->
                    <option th:each="staff : ${staffs}"
                            th:value="${staff.lname}"
                            th:text="${staff.lname}"></option>
<!--                            th:text="${staff.lname}+'  '+${staff.fname}+' '+${staff.pname}"></option>-->
                </select>
            </div>

            <div class="DivRequest" th:if="${#authentication.name == ('Комплексный_рабочий')}">
                <input class="inn" type="text" th:value="${el.fulfiled}" onkeyup="checkParams()" id="fulfiled1" name="fulfiled" placeholder="ФИО исполнителя">
                <select class="inn" onchange=document.getElementById('fulfiled1').value=this.options[this.selectedIndex].value>
                    <option disabled selected >ФИО исполнителя</option>
                    <option class="" value="Толмачев К. С.">Толмачев К. С.</option>
                    <option class="" value="Белявкин А. Г.">Белявкин А. Г.</option>
                    <option class="" value="Кузбасов Х. К.">Кузбасов Х. К.</option>
                </select>
            </div>

            <div class="DivRequest" th:if="${#authentication.name == ('Сантехник')}">
                <input class="inn" type="text" th:value="${el.fulfiled}" onkeyup="checkParams()" id="fulfiled2" name="fulfiled" placeholder="ФИО исполнителя">
                <select class="inn" onchange=document.getElementById('fulfiled2').value=this.options[this.selectedIndex].value>
                    <option disabled selected >ФИО исполнителя</option>
                    <option class="" value="Голованов В. Н.">Голованов В. Н.</option>
                    <option class="" value="Иванов П. С.">Иванов П. С.</option>
                </select>
            </div>

            <div class="DivRequest" th:if="${#authentication.name == ('Горничная')}">
                <input class="inn" type="text" th:value="${el.fulfiled}" onkeyup="checkParams()" id="fulfiled3" name="fulfiled" placeholder="ФИО исполнителя">
                <select class="inn" onchange=document.getElementById('fulfiled3').value=this.options[this.selectedIndex].value>
                    <option disabled selected >ФИО исполнителя</option>
                    <option class="" value="Мужева О. В.">Мужева О. В.</option>
                    <option class="" value="Алексеева К. А.">Алексеева К. А.</option>
                    <option class="" value="Иванова В. И.">Иванова В. И.</option>
                    <option class="" value="Нипяева А. И.">Нипяева А. И.</option>
                    <option class="" value="Петрова М. Н.">Петрова М. Н.</option>
                    <option class="" value="Круглова Н. С.">Круглова Н. С.</option>
                    <option class="" value="Черных С. А.">Черных С. А.</option>
                    <option class="" value="Табольская А. П.">Табольская А. П.</option>
                </select>
            </div>





            <div class="DivRequest">
                <textarea  class="size" name="text" readonly id="text" placeholder="Выберете из списка что требуется или опишите пробелему сами" th:text="${el.text}"></textarea>
            </div>
            <form th:action="@{/StaffAccount}" method="post" class="wrap">
                <input type="submit"  id="submit" class="btnComment1" value="Ответить"  >
            </form>
        </div>
    </form>
</section>

<div class="footer">
    <p> &copy; Санаторий профилакторий "Озеро Глухое" 2021.</p>
</div>



<script src="http://code.jquery.com/jquery-1.11.1.min.js"></script>
<script src="https://unpkg.com/imask"></script>
<script src="/scripts/home.js"></script>
<!--<script src="system/js/global.js"></script>  Для даты -->



</body>

<!--<footer th:insert="blocks/footer :: footer"></footer>-->


</html>