* {
    box-sizing: border-box;
}
.sidebar{
    position: fixed;
    /*float: right;*/
    width: 450px;
    background: #f7d2fa; /*Цвет выдвижного окошка*/
    opacity: 0.7;
    border-radius: 10px;
    right: -449px;
    padding-bottom: 10px;
    -moz-transition: all 600ms;
    -webkit-transition: all 600ms;
    transition-duration: all 600ms;
}

.sidebar.active{
    right: 20px;
}

.sidebar > ul li:first-child {
    text-align: left;
    color: white;
    font-size: 1.95em;
    list-style: none;
    padding: 25px 10px 10px 10px;
}

.sidebar > ul li:not(first-child) {
    text-align: center;
    width: 90%;
    margin-right: 10%;
    font-size: 1.3em;
    list-style: none;
    padding: 15px 10px;
    cursor: default;
}

.sidebar > ul  li  a{
    color: black; /*Цвет текст в окне*/
    text-decoration: none;
    opacity: 1;
}

.sidebar > ul  li  p{
    color: black; /*Цвет текст в окне*/
    text-decoration: none;
    display: inline; /*текст в шапке в строчку*/
}

.sidebar > ul  li  a:hover{color: #364237;}

.toggle-btn{
    position: absolute;
    right: 490px; /*Расположение кнопки от левого края*/
    top: 10px;/*Расположение кнопки сверху*/
    background: red; /*Цвет кнопки*/
    padding: 10px;
    border-radius: 15px;
    cursor: pointer;
    animation-name: mov;
    animation-duration: 8s;
    animation-iteration-count: infinite;
}

.sidebar.active > .toggle-btn{
    animation: move 0s linear infinite;}

@keyframes mov {
    0%{transform: translateX(0)}
    10%{transform: translateX(-50%)}
    20%{transform: translateX(50%)}
    30%{transform: translateX(0)}
    40%{transform: translateX(0)}
    50%{transform: translateX(-50%)}
    60%{transform: translateX(50%)}
    70% {transform: translateX(0)}
    100%{transform: translateX(0)}
}

.toggle-btn:hover{
    background: blue; /*Цвет  при наведении*/
    box-shadow: 0 0 10px 0 black inset, 0 0 10px 1px blue;
    opacity: 0.8;
}

.toggle-btn:hover span {
    background: white; /*Цвет полосок при наведении*/
}

.toggle-btn span {
    display: block;
    width: 30px;
    height: 4px;
    background-color: white; /*Цвет полосок в статике*/
    margin: 4px 0;
}


body {
   /* height:100%; */
   /* margin: 0; */
  /*  padding: 10px 10px; */
  /*  background:  #c7b39b  url(../../static.img/fon.jpg) no-repeat 0/cover;*/
    background: #c7b39b url(/img/fon.jpg) no-repeat 0 / cover;
    color: #ba1c85; /* Цвет текста всего шрифта  */
    background-attachment: fixed;
    background-position: center top;
   /* border-radius: .2rem; */
}


/*ШАПКА ПРОЗРАЧНОСТЬ!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!*/
nav ul {
    opacity: 0.8;
}
/*Слова в шапке без подчеркивания линией!!!!!!!!!!!!!!!!!!*/
nav a {
    text-decoration: none;
}

h1.name{
    color: #ba1c85; /* Цвет текста всего шрифта !!!!!!!!!!!!!!!!!!!! */
}

/*Шапка бара*/
    .topmenu {
        width: 100%;
        /*Резиновая шапка*/
        padding: 25px;
        border-radius: 20px;
        /*Радиус бара*/
        background-color: #f2f2f2;

}
/*Расположение текста в баре*/
.topmenu > li {
    display: inline; /*текст в шапке в строчку*/
}

/*Текст в шапке бара*/
.topmenu > li > a {
    font-family: 'Exo 2', sans-serif;
    padding: 1%;/*Отступы между текстом в шапке*/
    font-weight: bold; /*Жирный шрифт в баре*/
    color: #003559; /*Цвет шрифта*/
}


/*Изменения цвета при наведении курсора*/
.topmenu li a:hover {
    color: #E6855F;
}

/*Добавляем свойство*/
@media screen and (min-width: 900px) {
    .float {
        float: right;
    }
}

.booking{
    width: 410px;
    height: auto;
    border-radius: 5px;
    background-color: #0303039d;
}

.wrap {
    display: table;
    margin: 0 auto;
    padding: 5px;
}

.allDiv{
    column-count: 2;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    width: 390px;
}

input#fname,#lname,#pname,#phone,#tourId,#myRoomId{
    width: 185px;
    height: 30px;
}

h3 {
    padding-top: 10px;
    height: 20px;
    text-align: center;
    font-style: italic;
    font-size: 30px;
    color: #d7f2acdc;
}

div.btn{
    text-align: center;
    padding-bottom: 15px;
}
.glow-button {
    padding: 8px 20px;
    border-radius: 4px;
    box-shadow: 0 0 40px 40px white inset, 0 0 0 0 yellow;
    color: black;
    opacity: 0.5;
}

.glow-button:hover {
    box-shadow: 0 0 1px 0 black inset, 0 0 10px 1px white;
    color: black;
    opacity: 1;
    cursor: pointer;
}

.dropbtn {
    width: auto;
    background-color:  #f2f2f2; /*Цвет как в шапке*/
    color: #ba1c85; /*Цвет шрифта*/
    padding: 10px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;

}
.dropdown {
    position: relative;
    display: inline-block;

}
.dropdown-content {
    display: none;
    position: fixed;
    background-color: #f2f2f2;
    z-index: 1;

}
.dropdown-content a {
    color:  #003559;
    padding: 12px 16px;
    text-decoration: none; /*Убираем подчеркивание текста*/
    display: inline;
    font-weight: bold;

}
.dropdown-content a:hover { color: #E6855F;}
.dropdown:hover .dropdown-content {display: block;}
.dropdown:hover .dropbtn {background-color: #f2f2f2 ; color: #E6855F;} /*Цвет всего поля при наведени и цвет шрифта*/

#footer {
    position: absolute; /* Фиксированное положение */
    opacity: 0.5;
    right: 0;
    bottom: 0; /* Левый нижний угол */
    padding: 10px; /* Поля вокруг текста */
    background: black; /* Цвет фона */
    color: #fff; /* Цвет текста */
    width: 100%; /* Ширина слоя */
    font-size:0.75em;
    text-align: left;
}












