* {
    box-sizing: border-box;
}

body {
    height:100%;
    margin: 0;
    padding: 10px 10px;
    /*  background:  #c7b39b  url(../../static.img/fon.jpg) no-repeat 0/cover;*/
    background: #c7b39b url(/img/fon.jpg) no-repeat 0 / cover;
    color: #ba1c85; /* Цвет текста всего шрифта  */
    background-attachment: fixed;
    background-position: center top;
    border-radius: .2rem;
}

/*ШАПКА ПРОЗРАЧНОСТЬ!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!*/
nav ul {
    opacity: 0.8;
}

/*Слова в шапке без подчеркивания линией!!!!!!!!!!!!!!!!!!*/
nav a {
    text-decoration: none;
}

h1.name{
    color: #ba1c85; /* Цвет текста всего шрифта !!!!!!!!!!!!!!!!!!!! */
}

/*Шапка бара*/
.topmenu {
    width: 100%;
    /*Резиновая шапка*/
    padding: 25px;
    border-radius: 20px;
    /*Радиус бара*/
    background-color: #f2f2f2;
}
/*Расположение текста в баре*/
.topmenu > li {
    display: inline; /*текст в шапке в строчку*/
}

/*Текст в шапке бара*/
.topmenu > li > a {
    font-family: 'Exo 2', sans-serif;
    padding: 1%;/*Отступы между текстом в шапке*/
    font-weight: bold; /*Жирный шрифт в баре*/
    color: #003559; /*Цвет шрифта*/
}

/*Изменения цвета при наведении курсора*/
.topmenu li a:hover {
    color: #E6855F;
}

/*Добавляем свойство*/
@media screen and (min-width: 900px) {
    .float {
        float: right;
    }
}



input.btnSubmit{
    font-family: 'Exo 2', sans-serif;
    padding: 1%;/*Отступы между текстом в шапке*/
    font-weight: bold; /*Жирный шрифт в баре*/
    color: #003559; /*Цвет шрифта*/
}


.btnSubmit {
    margin-right: 5px;
    margin-left: 5px;
    width: auto;
    background-color: #f2f2f2;
    color: #ba1c85;
    padding: 10px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
}
.btnSubmit:hover  {background-color: #f2f2f2 ; color: #E6855F;} /*Цвет всего поля при наведени и цвет шрифта*/




.sectionAddComment{
    margin: 0 auto;
    border-radius: 5px;
    width: 100%;
    height: 100%;
    opacity: 0.9;
    background: white;
    padding-bottom: 1%;
}

.sectionAddComment> h1 {
    padding-top: 2%;
    text-align: center;
    font-family: 'Exo 2', sans-serif;
    color: black;
}

.size{
    width: 500px;
    height: 100px;
    min-width: 500px;
    min-height: 100px;
    max-width: 900px;
    max-height: 200px;
}

.DivComment{
    padding-left: 2%;
    padding-top: 0.6%;
}

@media screen and (min-width: 10px) {
    .pFloat {
        /*     margin: 0  auto;*/
        margin-right: 68%;
        margin-top: 0.5%;
        float: right;
        color: black;
        padding: 0.4%;
        border: 1px solid black;
    }
}


.sectionComment{
    /* margin: 0 auto;*/
    border-radius: 5px;
    width: 100%;
    height: auto;
    opacity: 0.9;
    background: white;
    padding-bottom: 1%;
}

.sectionComment> h1 {
    padding-top: 2%;
    text-align: center;
    font-family: 'Exo 2', sans-serif;
    color: black;
}

.allComments{
    padding-left: 1%;
    padding-right: 1%;
    padding-top: 0.1%
}


.pSize{
    width: 87%;
    height: auto;
    min-width: 300px;
    min-height: auto;
    max-width: 87%;
    max-height: auto;
    text-indent: 1%; /* Отступ первой строки в пикселах */
    padding: 0.5%; /* Поля */
    font-size: 1.3em; /* Размер шрифта */
    word-wrap: break-word; /* Перенос слов */
}

@media screen and (min-width: 10px) {
    .date {
        /*     margin: 0  auto;*/
        margin-left: 1%;
        margin-top: -1%;
        float: left;
        color: black;
        padding: 0.4%;

    }
}
@media screen and (min-width: 10px) {
    .user {
        margin-left: 1%;
        margin-top: -1%;
        float: left;
        color: black;
        padding: 0.4%;

    }
}






#footer {
    position: absolute; /* Фиксированное положение */
    opacity: 0.5;
    right: 0;
    bottom: 0; /* Левый нижний угол */
    padding: 10px; /* Поля вокруг текста */
    background: black; /* Цвет фона */
    color: #fff; /* Цвет текста */
    width: 100%; /* Ширина слоя */
    font-size:0.75em;
    text-align: left;
}

