
* {
    box-sizing: border-box;

}

.sidebar{
    width: auto;
    /*height: auto;*/
    background: #f7d2fa; /*Цвет выдвижного окошка*/
    opacity: 0.7;
    border-radius: 10px;
}


/*Добавляем свойство*/
@media screen and (min-width: 900px) {
    .sidebar {
        float: right;
    }
}

.sidebar .hh1 {
    border: none; /* Убираем границу */
    background-color: red; /* Цвет линии */
    color: red; /* Цвет линии для IE6-7 */
    height: 2px; /* Толщина линии */
    width: 290px;
    text-align: center;
}



.tours{
    padding: 10px;
    list-style: none;

}

.sidebar hr {
    border:none;
    border-top:1px dotted #f00;
    color:#fff;
    background-color:#fff;
    height:1px;
    width:50%;
}


h1.name{
    color: #ba1c85; /* Цвет текста всего шрифта  */
    text-align: center;
    font-family:Lobster, cursive;
    font-size:30px;
}

h2.nametour{
    text-align: center;

}
h3.a{
    text-align: center;
    color: black;
    font-size: 1.4em;
}

h3 {

    height: 20px;
    text-align: center;
    font-style: italic;
    font-size: 30px;
    color: #d7f2acdc;

}


body {
    background:  #c7b39b  url(/img/fon.jpg) no-repeat 0/cover;
    background-attachment: fixed; /*Фиксация картинки*/
    background-position: center top;
    /*  overflow: hidden;*/
}


/*Прозрачность шапки*/
nav ul {
    opacity: 0.8;
}

/*Слова в шапке без подчеркивания линией*/
nav a {
    text-decoration: none;
}

/*Шапка бара*/
.topmenu {
    width: 100%; /*Резиновая шапка*/
    padding: 25px;
    border-radius: 20px;
    background-color: #f2f2f2;


}
/*Расположение текста в баре*/
.topmenu > li {
    display: inline; /*текст в шапке в строчку*/
}


/*Текст в шапке бара*/
.topmenu > li > a {
    font-family: 'Exo 2', sans-serif;
    padding: 1%;/*Отступы между текстом в шапке*/
    font-weight: bold; /*Жирный шрифт в баре*/
    color: #003559; /*Цвет шрифта*/
}



/*Изменения цвета при наведении курсора*/
.topmenu li a:hover {
    color: #E6855F;
}

/*Добавляем свойство*/
@media screen and (min-width: 900px) {
    .float {
        float: right;
    }
}
/*  ddddddddddddddddddddddddddddddddd*/

/*input.btnSubmit{*/
/*    font-family: 'Exo 2', sans-serif;*/
/*    padding: 1%;!*Отступы между текстом в шапке*!*/
/*    font-weight: bold; !*Жирный шрифт в баре*!*/
/*    color: #003559; !*Цвет шрифта*!*/
/*}*/


.booking{
    /*position: absolute;*/
    position: fixed;
    width: 410px;
    height: auto;
    border-radius: 5px;
    background-color: #0303039d;
    /*  float: left;*/
    z-index: 0;
}

.wrap {
    display: table;
    margin: 0 auto;
    padding: 5px;
}



.allDiv{
    column-count: 2;
    padding: 5px;
}




input#fname,#lname,#pname,#phone,#dateIn,#dateOut,#korpus,#myRoomId{
    width: 185px;
    height: 30px;
}




div.btn{
    text-align: center;
    padding-bottom: 15px;
}


/* input #submit{
   text-decoration: none;
   display: inline-block;
   color: black;
   border-radius: 4px;
   background-color: solid;
   width: 185px;
   height: 25px;
   cursor: pointer;
 }*/



.glow-button {
    padding: 8px 20px;
    border-radius: 4px;
    box-shadow: 0 0 40px 40px white inset, 0 0 0 0 yellow;
    color: black;
    opacity: 0.5;


}
.glow-button:hover {
    box-shadow: 0 0 1px 0 black inset, 0 0 10px 1px white;
    color: black;
    opacity: 1;
    cursor: pointer;
}


.bteen {
    display: inline-block; /* Строчно-блочный элемент */
    background: #8C959D; /* Серый цвет фона */
    color: #fff; /* Белый цвет текста */
    padding: 1rem 1.5rem; /* Поля вокруг текста */
    text-decoration: none; /* Убираем подчёркивание */
    border-radius: 3px; /* Скругляем уголки */
}







/*!!!!!!!!!!!!!!!!!!!!!!!*/





.dropbtn {
    width: auto;
    background-color:  #f2f2f2; /*Цвет как в шапке*/
    color: #ba1c85; /*Цвет шрифта*/
    padding: 10px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;

}
.dropdown {
    position: relative;
    display: inline-block;

}
.dropdown-content {
    display: none;
    position: fixed;
    background-color: #f2f2f2;
    z-index: 1;

}
.dropdown-content a {
    color:  #003559;
    padding: 12px 16px;
    text-decoration: none; /*Убираем подчеркивание текста*/
    display: inline;
    font-weight: bold;

}
.dropdown-content a:hover { color: #E6855F;}
.dropdown:hover .dropdown-content {display: block;}
.dropdown:hover .dropbtn {background-color: #f2f2f2 ; color: #E6855F;} /*Цвет всего поля при наведени и цвет шрифта*/






input.btnSubmit{
    font-family: 'Exo 2', sans-serif;
    padding: 1%;/*Отступы между текстом в шапке*/
    font-weight: bold; /*Жирный шрифт в баре*/
    color: #003559; /*Цвет шрифта*/
}


.btnSubmit {
    margin-right: 5px;
    margin-left: 5px;
    width: auto;
    background-color: #f2f2f2;
    color: #ba1c85;
    padding: 10px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
}
.btnSubmit:hover  {background-color: #f2f2f2 ; color: #E6855F;} /*Цвет всего поля при наведени и цвет шрифта*/






.closed {
    display:none;
}

.freeRooms_1 {
    text-decoration: none;
    padding-left: 20px;
    padding-right: 20px;
    box-shadow: 0 0 40px 40px white inset, 0 0 0 0 yellow;
    color: black;
    cursor: pointer;
    opacity: 1;
}

.freeRooms_2{
    text-decoration: none;
    padding-left: 20px;
    padding-right: 20px;
    box-shadow: 0 0 40px 40px white inset, 0 0 0 0 yellow;
    color: black;
    cursor: pointer;
    opacity: 1;
}

.tours > button {
    font-size: 1.2rem;
    box-shadow: 0 0 3px 0 blue inset, 0 0 10px 1px white;
    color: black;
    opacity: 1;
}

div.tours{
    text-align: center;

}

.allDv{
    column-count: 3;
    padding-right: 30px;
    padding-left: 30px;
    /* padding-bottom: 10px;*/
    /*  padding-top: 10px;*/
}

.hh2{
    color: #003559;
    padding-right: 30px;
    padding-left: 30px;
}

.sectionRoom {
    margin: 0 auto;
    float: right;
    width: 25%;
    height:auto;
    /*height:66%;*/
    border-radius: 5px;
    background-color: white;
    opacity: 0.8;
    overflow: auto;
}

div.openbox_1 {
    text-align: center;
}
div.openbox_2 {
    text-align: center;
}


@media screen  {
    .sectionRoom {
        margin-right: 125px;
        margin-left: 500px;
        float: right;
    }
}

#footer {

    left: 0px;
    bottom: 0px;
    height: 30px;
    width: 100%;
    opacity: 1;
    background: black;
}