*{
    box-sizing: border-box;
}

body {
    /* height:100%; */
    /* margin: 0; */
    /*  padding: 10px 10px; */
    /*  background:  #c7b39b  url(../../static.img/fon.jpg) no-repeat 0/cover;*/
    background: #c7b39b url(/img/fon.jpg) no-repeat 0 / cover;
    color: #ba1c85; /* Цвет текста всего шрифта  */
    background-attachment: fixed;
    background-position: center top;
    /* border-radius: .2rem; */
}

/*ШАПКА ПРОЗРАЧНОСТЬ!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!*/
nav ul {
    opacity: 0.8;
}
/*Слова в шапке без подчеркивания линией!!!!!!!!!!!!!!!!!!*/
nav a {
    text-decoration: none;
}

h1.name{
    color: #ba1c85; /* Цвет текста над шапкой !!!!!!!!!!!!!!!!!!!! */
}

/*Шапка бара*/
.topmenu {
    width: 100%;
    /*Резиновая шапка*/
    padding: 25px;
    border-radius: 20px;
    /*Радиус бара*/
    background-color: #f2f2f2;

}
/*Расположение текста в баре*/
.topmenu > li {
    display: inline; /*текст в шапке в строчку*/
}

/*Текст в шапке бара*/
.topmenu > li > a {
    font-family: 'Exo 2', sans-serif;
    padding: 1%;/*Отступы между текстом в шапке*/
    font-weight: bold; /*Жирный шрифт в баре*/
    color: #003559; /*Цвет шрифта*/
}


/*Изменения цвета при наведении курсора*/
.topmenu li a:hover {
    color: #E6855F;
}

/*Добавляем свойство*/
@media screen and (min-width: 900px) {
    .float {
        float: right;
    }
}

.newPeoples{
    margin: 0 auto; /* Выравниваем по центру */
    width: 1300px;
    height: auto;
    border-radius: 5px;
    background-color: white; /*Цвет рамки где записи из БД*/
    opacity: 0.9;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
}

.noButtonView{
    background-color: white;
    opacity: 0;
}




.allDivNewPeoples{
    column-count: 7;
    padding-right: 10px;
    padding-top: 5px; /*Растояние между строками*/
}

.allDivPeoples{
    column-count: 8;
    padding-right: 10px;
    padding-top: 5px; /*Растояние между строками*/
}

.wrap1 {
    display: table;
    margin:  auto;
    padding: 1%;
    width: 200px;
    text-align: center;
}
.wrap2 {
    display: table;
    margin:  auto;
    padding: 1%;
    width: 10px;
    text-align: center;
}

.allPeoples{
    margin: 0 auto; /* Выравниваем по центру */
    width: 1300px;
    height: auto;
    border-radius: 5px;
    background-color: white; /*Цвет рамки где записи из БД*/
    opacity: 0.9;
    padding-left: 30px;
    padding-right: 30px;
}




.allDivPeoples{
    column-count: 9;
    padding-right: 10px;
    padding-top: 5px; /*Растояние между строками*/

}


h3 {
    padding-top: 10px;
    height: 20px;
    text-align: center;
    font-style: italic;
    font-size: 30px;
    color: #d7f2acdc;
}
/*Редактирова, удалить, доабавить?*/
.test{

    padding: 8px 20px;
    border-radius: 5px;
    background-color: white;
    box-shadow: 0 0 40px 40px white inset, 0 0 0 0 yellow;
    text-decoration: none;
    color: black;
    opacity: 0.5;
}




.allPeoples{
    margin: 0 auto; /* Выравниваем по центру */
    width: 1300px;
    height: auto;
    border-radius: 5px;
    background-color: white; /*Цвет рамки где записи из БД*/
    opacity: 0.9;
    padding-left: 30px;
    padding-right: 30px;
}


input.btnSubmit{
    font-family: 'Exo 2', sans-serif;
    padding: 1%;/*Отступы между текстом в шапке*/
    font-weight: bold; /*Жирный шрифт в баре*/
    color: #003559; /*Цвет шрифта*/
}


.btnSubmit {
    margin-right: 5px;
    margin-left: 5px;
    width: auto;
    background-color: #f2f2f2;
    color: #ba1c85;
    padding: 10px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
}
.btnSubmit:hover  {background-color: #f2f2f2 ; color: #E6855F;} /*Цвет всего поля при наведени и цвет шрифта*/



#footer {
    position: absolute; /* Фиксированное положение */
    opacity: 0.5;
    right: 0;
    bottom: 0; /* Левый нижний угол */
    padding: 10px; /* Поля вокруг текста */
    background: black; /* Цвет фона */
    color: #fff; /* Цвет текста */
    width: 100%; /* Ширина слоя */
    font-size:0.75em;
    text-align: left;
}


