*, html {
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body {
    background:  white;
    overflow: scroll;
    overflow-x: hidden;
    /* background-position: center top;*/
    /*margin-left: 30%;
    margin-right: 30%;*/
}


.section{
    background-attachment: fixed; /*Фиксация картинки*/
    background-position: center top;
}







.one{
    overflow: hidden;
}
.to{
    width: 1000%;
    padding-bottom: 30px;
}
.there{
    padding-top: 20px;
    float: left;
    width: 2.24%;
    height: auto;
}


.there > p> a{
    padding: .3rem;
    border-radius: .2rem;
    color: inherit;
    text-decoration: none;
    border: 1px solid transparent;
    transition: all .2s ease-in-out;
}
.there > p> a:hover{

    border: 1px solid;
}

.there > a> img:hover{
    box-shadow: 0 0 10pt 0pt ;
    border-radius: 30px;
    text-decoration: none;
}
.p{
    margin: 0 ;
    padding-top: 20px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 1.04rem;
    font-weight: bold;
}
.a1{
    font-size: 1.9rem;
    font-weight: bold;
    color: green;
    text-align: center;
}
.a2{
    font-size: 1.1rem;
    color: green;
    text-align: center;
}


/*Шапка бара*/

.topmenu {
    width: 100%; /*Резиновая шапка*/
    padding: 3%;
    background-color: #008000;

}

/*Расположение текста в баре в линию*/
.topmenu > li {
    display: inline;
}

/*Текст в шапке бара*/
.topmenu > li > a {
    font-family: 'Arial', sans-serif;
    font-size: 1.2rem;
    padding-left: 1%;/*Отступы между текстом в шапке*/
    padding-right: 1%;/*Отступы между текстом в шапке*/

    color: white; /*Цвет шрифта*/
    text-align: center;
    text-decoration: none;

}

/*Изменения цвета при наведении курсора*/
.topmenu li a:hover {
    padding: .2rem;
    border-radius: .3rem;
    color: #fff;
    background: #228B22;
    text-decoration: none;
    border: 2px solid ;
    transition: all .2s ease-in-out;
    padding-left: 1%;/*Отступы между текстом в шапке*/
    padding-right: 1%;/*Отступы между текстом в шапке*/

}

.btnSubmit {

    margin-right: 5px;
    margin-left: 5px;
    border: none;
    cursor: pointer;
    font-family: 'Arial', sans-serif;
    font-size: 1.2rem;
    color: white;
    background-color: green;
    text-align: center;
    text-decoration: none;


}
.btnSubmit:hover  {
    padding: .2rem;
    border-radius: .3rem;
    color: #fff;
    background: #228B22;
    text-decoration: none;
    border: 2px solid ;
    transition: all .2s ease-in-out;
    padding-left: 1%;/*Отступы между текстом в шапке*/
    padding-right: 1%;/*Отступы между текстом в шапке*/
}



@media screen and (min-width: 900px) {
    .topmenu> .h  {
        float: right;
    }
}

#footer {
    position: absolute; /* Фиксированное положение */
    opacity: 0.5;
    right: 0;
    bottom: 0; /* Левый нижний угол */
    padding: 10px; /* Поля вокруг текста */
    background: black; /* Цвет фона */
    color: #fff; /* Цвет текста */
    width: 100%; /* Ширина слоя */
    font-size:0.75em;
    text-align: left;
}

