* {
    box-sizing: border-box;
}

body {
    height:100%;
    margin: 0;
    padding: 10px 10px;
    /*  background:  #c7b39b  url(../../static.img/fon.jpg) no-repeat 0/cover;*/
    background: #c7b39b url(/img/fon.jpg) no-repeat 0 / cover;
    color: #ba1c85; /* Цвет текста всего шрифта  */
    background-attachment: fixed;
    background-position: center top;
    border-radius: .2rem;
}

/*ШАПКА ПРОЗРАЧНОСТЬ!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!*/
nav ul {
    opacity: 0.8;
}

/*Слова в шапке без подчеркивания линией!!!!!!!!!!!!!!!!!!*/
nav a {
    text-decoration: none;
}

h1.name{
    color: #ba1c85; /* Цвет текста всего шрифта !!!!!!!!!!!!!!!!!!!! */
}

/*Шапка бара*/
.topmenu {
    width: 100%;
    /*Резиновая шапка*/
    padding: 25px;
    border-radius: 20px;
    /*Радиус бара*/
    background-color: #f2f2f2;
}
/*Расположение текста в баре*/
.topmenu > li {
    display: inline; /*текст в шапке в строчку*/
}

/*Текст в шапке бара*/
.topmenu > li > a {
    font-family: 'Exo 2', sans-serif;
    padding: 1%;/*Отступы между текстом в шапке*/
    font-weight: bold; /*Жирный шрифт в баре*/
    color: #003559; /*Цвет шрифта*/
}

/*Изменения цвета при наведении курсора*/
.topmenu li a:hover {
    color: #E6855F;
}

/*Добавляем свойство*/
@media screen and (min-width: 900px) {
    .float {
        float: right;
    }
}

input.btnSubmit{
    font-family: 'Exo 2', sans-serif;
    padding: 1%;/*Отступы между текстом в шапке*/
    font-weight: bold; /*Жирный шрифт в баре*/
    color: #003559; /*Цвет шрифта*/
}


.btnSubmit {
    margin-right: 5px;
    margin-left: 5px;
    width: auto;
    background-color: #f2f2f2;
    color: #ba1c85;
    padding: 10px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
}
.btnSubmit:hover  {background-color: #f2f2f2 ; color: #E6855F;} /*Цвет всего поля при наведени и цвет шрифта*/




img {
    width: 100%; !important;
}

.sim-slider {
    max-width: 45%;
    min-width: 35%;
    margin: 20px auto;
    padding: 30px 50px;
    border: 1px solid #ccd;
    background-color: white;
}

/* General styles */
.sim-slider {
    position: relative;
}

.sim-slider-list {
    margin: 0;
    padding: 0;
    list-style-type: none;
    position: relative;
}

.sim-slider-element {
    width: 100%;
    transition: opacity 1s ease-in;
    opacity: 0;
    position: absolute;
    z-index: 2;
    left: 0;
    top: 0;
    display: block;
}

/* Navigation item styles */
div.sim-slider-arrow-left,
div.sim-slider-arrow-right {
    width: 22px;
    height: 40px;
    position: absolute;
    cursor: pointer;
    opacity: 0.6;
    z-index: 4;
}

div.sim-slider-arrow-left {
    left: 10px;
    top: 40%;
    display: block;
    background: url("http://pvbk.spb.ru/inc/slider/sim-files/sim-arrow-left.png") no-repeat;
}

div.sim-slider-arrow-right {
    right: 10px;
    top: 40%;
    display: block;
    background: url("http://pvbk.spb.ru/inc/slider/sim-files/sim-arrow-right.png") no-repeat;
}

div.sim-slider-arrow-left:hover {
    opacity: 1.0;
}

div.sim-slider-arrow-right:hover {
    opacity: 1.0;
}

div.sim-slider-dots {
    width: 100%;
    height: auto;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: 3;
    text-align: center;
}

span.sim-dot {
    width: 10px;
    height: 10px;
    margin: 5px 7px;
    padding: 0;
    display: inline-block;
    background-color: #BBB;
    border-radius: 5px;
    cursor: pointer;
}

#footer {
    position: absolute; /* Фиксированное положение */
    opacity: 0.5;
    right: 0;
    bottom: 0; /* Левый нижний угол */
    padding: 10px; /* Поля вокруг текста */
    background: black; /* Цвет фона */
    color: #fff; /* Цвет текста */
    width: 100%; /* Ширина слоя */
    font-size:0.75em;
    text-align: left;
}

