<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" href="/css/home.css"/>


    <title th:text="${title}"/>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <script src="https://unpkg.com/imask"></script>

<header th:insert="blocks/header :: header"></header>
</head>
<body>


<section class="booking">
    <h3 >Бронирование</h3>


    <!--action="/" th:action="@{/AddActualInformation}" -->
    <form  th:action="@{/Payment}" method="post">
        <div class="allDiv">
            <div class="wrap"><input type="text" onkeyup="checkParams()" id="fname" name="fname" placeholder="Фамилия*"></div>
            <div class="wrap"><input type="text" onkeyup="checkParams()" id="lname" name="lname" placeholder="Имя*"></div>
            <div class="wrap"><input type="text" onkeyup="checkParams()" id="pname" name="pname" placeholder="Отчество*"></div>
            <div class="wrap"><input type="text" onkeyup="checkParams()" id="phone" name="phone" placeholder="Номер телефона"></div>
            <div class="wrap"><input type="text" onkeyup="checkParams()" id="dateIn" name="dateIn" placeholder="Дата заезда*" onfocus="(this.type='date')" onblur="(this.type='text')" onkeydown="return false"   ></div>
            <!-- <div class="wrap"><input type="text" onkeyup="checkParams()" id="dateOut" name="dateOut" placeholder="Дата выезда*" onfocus="(this.type='date')" onblur="(this.type='text')"  ></div> -->
            <div class="wrap"><input type="text" onkeyup="checkParams()" id="dateOut" name="dateOut" placeholder="Дата выезда*" onfocus="(this.type='date')" onblur="(this.type='text')" onkeydown="return false" ></div>
            <div class="wrap"><input type="text" onkeyup="checkParams()" id="korpus" name="korpus" placeholder="№ корпус*" onkeypress='validate(event)' maxlength="1"></div>
            <div class="wrap"><input type="text" onkeyup="checkParams()" id="myRoomId" name="myRoomId" placeholder="№ комнаты*" onkeypress='validateRoom(event)' maxlength="3"></div>
        </div>
        <div class="btn">
            <input type="submit" id="submit" class="glow-button" value="Перейти к оплате"  disabled   >
        </div> <!-- onclick="window.open('/Payment' , '_self')" disabled-->
    </form>
</section>



<!---->

<div   class="sidebar">
    <h2 class="nametour">Свободные номера</h2>
    <div class="tours">
        <hr class="hh1">
        <button class="freeRooms_1"  id="linkname01" onclick="toggle('.openbox_1')">1 корпус</button>
        <button class="freeRooms_2"  id="linkname02" onclick="toggle('.openbox_2')">2 корпус</button>
    </div>
</div>


<section class="sectionRoom">
    <div class="hh2">
        <h2 class="closed openbox_1"> Свободные комнаты 1 корпуса</h2>
    </div>
    <div class="allDv">
        <div class="closed openbox_1">№ </div>
        <div class="closed openbox_1">Тип </div>
        <div class="closed openbox_1">Свободно</div>
    </div>
    <hr class="closed openbox_1">
    <div th:each="el : ${Rooms_1k}" class="allDv">
        <div th:text="${el.roomsOneKorpusId}" class="closed openbox_1"><input type="text" ></div>
        <hr class="closed openbox_1">
        <div th:text="${el.typeOneKorpus}" class="closed openbox_1"><input type="text" ></div>
        <hr class="closed openbox_1">
        <div th:text="${el.freeOneKorpus}" class="closed openbox_1"><input type="text" ></div>
        <hr class="closed openbox_1">
    </div>

</section>





<section class="sectionRoom">
    <div class="hh2">
        <h2 class="closed openbox_2"> Свободные комнаты 2 корпуса</h2>
    </div>
    <div class="allDv">
        <div class="closed openbox_2">№ </div>
        <div class="closed openbox_2">Тип </div>
        <div class="closed openbox_2">Свободно</div>
    </div>
    <hr class="closed openbox_2">
        <div th:each="el : ${Rooms_2k}" class="allDv">
            <div th:text="${el.roomsTwoKorpusId}" class="closed openbox_2"><input type="text" ></div>
            <hr class="closed openbox_2">
            <div th:text="${el.typeTwoKorpus}" class="closed openbox_2"><input type="text" ></div>
            <hr class="closed openbox_2">
            <div th:text="${el.freeTwoKorpus}" class="closed openbox_2"><input type="text" ></div>
            <hr class="closed openbox_2">
        </div>

</section>






<!--<section class="booking">-->
<!--    <h3 >Бронирование</h3>-->


<!--&lt;!&ndash;action="/" th:action="@{/AddActualInformation}" &ndash;&gt;-->
<!--    <form  th:action="@{/}" method="post">-->
<!--        <div class="allDiv">-->
<!--            <div class="wrap"><input type="text" onkeyup="checkParams()" id="fname" name="fname" placeholder="Фамилия*"></div>-->
<!--            <div class="wrap"><input type="text" onkeyup="checkParams()" id="lname" name="lname" placeholder="Имя*"></div>-->
<!--            <div class="wrap"><input type="text" onkeyup="checkParams()" id="pname" name="pname" placeholder="Отчество*"></div>-->
<!--            <div class="wrap"><input type="text" onkeyup="checkParams()" id="phone" name="phone" placeholder="Номер телефона"></div>-->
<!--            <div class="wrap"><input type="text" onkeyup="checkParams()" id="dateIn" name="dateIn" placeholder="Дата заезда*" onfocus="(this.type='date')" onblur="(this.type='text')" onkeydown="return false"   ></div>-->
<!--           &lt;!&ndash; <div class="wrap"><input type="text" onkeyup="checkParams()" id="dateOut" name="dateOut" placeholder="Дата выезда*" onfocus="(this.type='date')" onblur="(this.type='text')"  ></div> &ndash;&gt;-->
<!--            <div class="wrap"><input type="text" onkeyup="checkParams()" id="dateOut" name="dateOut" placeholder="Дата выезда*" onfocus="(this.type='date')" onblur="(this.type='text')" onkeydown="return false" ></div>-->
<!--            <div class="wrap"><input type="text" onkeyup="checkParams()" id="korpus" name="korpus" placeholder="№ корпус*" onkeypress='validate(event)' maxlength="1"></div>-->
<!--            <div class="wrap"><input type="text" onkeyup="checkParams()" id="myRoomId" name="myRoomId" placeholder="№ комнаты*" onkeypress='validateRoom(event)' maxlength="3"></div>-->
<!--        </div>-->
<!--        <div class="btn">-->
<!--            <input type="submit" id="submit" class="glow-button" value="Перейти к оплате" disabled   >-->
<!--        </div> &lt;!&ndash;  onclick="window.open('/payment' , '_self')"disabled&ndash;&gt;-->
<!--    </form>-->
<!--</section>-->


<script src="http://code.jquery.com/jquery-1.11.1.min.js"></script>
<script src="http://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://unpkg.com/imask"></script>
<script src="/scripts/home.js"></script>
<!--<script src="system/js/global.js"></script>  Для даты -->



<!--<footer th:insert="blocks/footer :: footer"></footer>-->

</body>

<!--<footer th:insert="blocks/footer :: footer"></footer>-->


</html>