<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" href="/css/human.css"/>
    <title th:text="${'Отдел кадров'}"/>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="">
    <script src="https://unpkg.com/imask"></script>
    <header th:insert="blocks/header :: header"></header>



</head>
<body>



<br>

<section class="newPeoples">

    <h3 >Все сотрудники</h3>
    <br>

    <div class="allDivPeoples">
        <div class="wrap2">ID</div>
        <div class="wrap2">Табельный номер</div>
        <div class="wrap2">Фамилия</div>
        <div class="wrap2">Имя</div>
        <div class="wrap2">Отчество</div>
        <div class="wrap2">Должность</div>
        <div class="wrap2"></div>
        <div class="wrap2"></div>
    </div>
    <br>



    <div th:each="el : ${staffs}" class="allDivPeoples">
        <div th:text="${el.id}" class="wrap2"><input type="text" id="id" name="id" placeholder="id"></div>
        <div th:text="${el.personnelNumber}" class="wrap2"><input type="text" id="personnelNumber" name="personnelNumber" placeholder="personnelNumber"></div>
        <div th:text="${el.fname}" class="wrap2"><input type="text" id="fname" name="fname" placeholder="fname"></div>
        <div th:text="${el.lname}" class="wrap2"><input type="text" id="lname" name="lname" placeholder="lname"></div>
        <div th:text="${el.pname}" class="wrap2"><input type="text" id="pname" name="pname" placeholder="pname "></div>
        <div th:text="${el.position}" class="wrap2"><input type="text" id="position" name="position" placeholder="position"></div>
        <div><a th:href="'/HumResDep/' + ${el.id} + '/edit'" class="test">Редактировать</a></div>
        <form th:action="'/HumResDep/' + ${el.id} +'/remove'" method="post">
            <button class="btn btn-warning" type="submit">Удалить</button>
        </form>
    </div>



</section>


<script src="http://code.jquery.com/jquery-1.11.1.min.js"></script>
<script src="https://unpkg.com/imask"></script>
<script src="/scripts/home.js"></script>
<!--<script src="system/js/global.js"></script>  Для даты -->



</body>

<!-- <footer th:insert="blocks/footer :: footer"></footer> -->


</html>