<div  th:fragment="header" xmlns:th="http://www.w3.org/1999/xhtml">
    <h1 class="name" align="center"><span style="font-family:Lobster, cursive; Font-size:30px;">Санаторий Профилакторий "Озеро Глухое"</span></h1>

    <nav>
        <ul class="topmenu">
            <li><a href="/">Главная</a></li>
            <li><a href="/Accommodation">Номерной фонд</a></li>
            <li><a href="/Infrastructure">Инфаструктура</a></li>
<!--            <li><a href="/Price">Прайс</a></li>-->
            <li><a href="/Сommunications">Контакты</a></li>
            <li><a href="/AboutUs">Лечебная база</a></li>
            <li><a href="/Rules">Правила</a></li>
            <li><a href="/Comment">Отзывы</a></li>
<!--            <li><a href="/Payment">Payment</a></li>-->

            <li class="float" sec:authorize="!isAuthenticated()">
                <form  th:action="@{/Authorization}" method="post">
                    <input class="btnSubmit" type="submit" value="Авторизоваться">
                </form>
           </li>


        <li class="float" sec:authorize="isAuthenticated()">
            <form  th:action="@{/logout}" method="post">
                <input class="btnSubmit" type="submit" value="Выйти">
            </form>
       </li>

            <li class="float" sec:authorize="hasRole('ROLE_ADMIN')">
                <form  th:action="@{/AdminHome}" >
                    <input class="btnSubmit" type="submit" value="Домой">
                </form>
            </li>

            <li class="float" sec:authorize="hasRole('ROLE_CLIENT')">
                <form  th:action="@{/MyAccount}">
                    <input class="btnSubmit" type="submit" value="Домой">
                </form>
            </li>

            <li class="float" sec:authorize="hasRole('ROLE_STAFF')">
                <form  th:action="@{/StaffAccount}">
                    <input class="btnSubmit" type="submit" value="Домой">
                </form>
            </li>
        </ul>
    </nav>
</div>
