<div  th:fragment="headerStaffAccount" xmlns:th="http://www.w3.org/1999/xhtml">
    <h1 class="name" align="center"><span style="font-family:Lobster, cursive; Font-size:30px;">Аккаунт для сотрудника</span></h1>

    <nav>
        <ul class="topmenu">
            <div class="dropdown">
                <button class="dropbtn">Главное меню</button>
                <div class="dropdown-content">
                    <a href="/">Главная</a>
                    <a href="/Accommodation">Проживание</a>
                    <a href="/Infrastructure">Инфаструктура</a>
                    <a href="/Price">Прайс</a>
                    <a href="/Сommunications">Контакты</a>
                    <a href="/AboutUs">О нас</a>
                    <a href="/Rules">Правила</a>
                    <a href="/Comment">Отзывы</a>
                </div>
            </div>
<!--
            <div class="dropdown">
                <button class="dropbtn">Расписание санатория</button>
                <div class="dropdown-content">
                    <a href="/HealthImprovingComplex">ЛОК</a>
                    <a href="/DiningRoom">Столовая</a>
                    <a href="/Club">Клуб</a>
                    <a href="/Rental">Прокат</a>
                    <a href="/Cafe">Кафе</a>
                    <a href="/Med">Мед кабинеты</a>
                </div>
            </div>

-->
            <li><a href="/TimeTable">Расписание</a></li>
            <li><a href="/ActualInformation">Актуальная информация</a></li>
            <li><a href="/StaffEvent">Мероприятия</a></li>


<!--            <div class="dropdown">-->
<!--                <button class="dropbtn">Заявки</button>-->
<!--                <div class="dropdown-content">-->
<!--                    <a href="/MyRequest">Мои заявки</a>-->
<!--                    <a href="/AddRequest">Написать</a>-->
<!--                </div>-->
<!--            </div>-->



            <!--  Страница не открывается, если код в написан в таком формате.
                                           Код нужен для ЛОГАУТА!   -->

            <!--  Страница не открывается, если код в написан в таком формате.
   Код нужен для ЛОГАУТА!-->

            <li class="float">

                <form th:action="@{/logout}" method="post">
                    <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
                    <input type="submit"value="Выйти">
                </form>

            </li>




                      <!-- <li class="float"><a href="/AllClients">AllClients</a></li>
                       <li class="float"><a href="/AllRegistrations">allRegistrations</a></li> -->

        </ul>
    </nav>
</div>
