<div  th:fragment="headerClientAccount" xmlns:th="http://www.w3.org/1999/xhtml">

    <section class="section">
        <div class="one">
            <div class="to">
                <div class="there"><p class="a1">Озеро Глухое<p><p class="a2">Санаторий-профилакторий<p></div>
                <div class="there"><p class="p">Телефон: <wbr> <a href="tel:+7(343)287-20-18"> +7(343)287-20-18</a> </p></div>
                <div class="there"><p class="p">Почта: <wbr> <a href="mailto:OzeroGluhoe@mail.ru"> OzeroGluhoe@mail.ru</a> </p></div>
                <div class="there"><p class="p">Адрес:<wbr> <a href="https://2gis.ru/ekaterinburg/geo/1267273050416158?m=60.288146%2C56.800754%2F16" target="_blank">Московский тракт 18 км</a></p></div>
                <div class="there"><a href="https://vk.com/diplomozerogluhoe" target="_blank"><img  src="/img/vk-64x64.png" alt="Значок вк"></a> <a href="https://www.instagram.com/" target="_blank"><img src="/img/1.png" alt="Значок инстаграмм"></a></div>
            </div>
        </div>
    </section>


    <nav>
        <ul class="topmenu">
            <li><a href="/">Главное меню</a></li>
            <li><a href="/TimeTable">Расписание</a></li>
            <li><a href="/ActualInformation">Актуальная информация</a></li>
            <li><a href="/Event">Мероприятия</a></li>
            <li><a href="/Request">Написать заявку</a></li>

            <li class="h">
                <form th:action="@{/logout}" method="post">
                    <input class="btnSubmit" type="submit"value="Выйти">
                </form>
            </li>

        </ul>
    </nav>

    <div class="n">
        <div class="name">Комната №</div>
        <div class="name1" th:text="${#authentication.name}"></div>
    </div>
</div>
