<div  th:fragment="headerAdmin" xmlns:th="http://www.w3.org/1999/xhtml">
    <h1 class="name" align="center"><span style="font-family:Lobster, cursive; Font-size:30px;">Панель Администратора</span></h1>

    <nav>
        <ul class="topmenu">

            <div class="dropdown">
                <button onclick="window.open('/' , '_self')" class="dropbtn">Главное меню</button>
            </div>
<!--            <div class="dropdown">-->
<!--                <button class="dropbtn">Главное меню</button>-->
<!--                <div class="dropdown-content">-->
<!--                    <a href="/">Главная</a>-->
<!--                    <a href="/Accommodation">Проживание</a>-->
<!--                    <a href="/Infrastructure">Инфаструктура</a>-->
<!--                    <a href="/Price">Прайс</a>-->
<!--                    <a href="/Сommunications">Контакты</a>-->
<!--                    <a href="/AboutUs">Лечебная база</a>-->
<!--                    <a href="/Rules">Правила</a>-->
<!--                    <a href="/Comment">Отзывы</a>-->
<!--                </div>-->
<!--            </div>-->


            <div class="dropdown">
                <button class="dropbtn">Сотрудники</button>
                <div class="dropdown-content">
                    <a href="/AddStaff">Добавить</a>
                    <a href="/AllStaff">Редактор</a>
                </div>
            </div>

            <div class="dropdown">
                <button onclick="window.open('/AllClients' , '_self')" class="dropbtn">Клиенты</button>
            </div>

            <div class="dropdown">
                <button onclick="window.open('/Accounts' , '_self')" class="dropbtn">Аккаунты</button>
            </div>

            <div class="dropdown">
                <button class="dropbtn">Комнаты</button>
                <div class="dropdown-content">
                    <a href="/Room_1k">1 корпус</a>
                    <a href="/Room_2k">2 корпус</a>
                </div>
            </div>
<!--
            <div class="dropdown">
                <button class="dropbtn">Учетная запись комнат</button>
                <div class="dropdown-content">
                    <a href="#">Редактор</a>
                </div>
            </div>
-->
            <div class="dropdown">
                <button class="dropbtn">Туры</button>
                <div class="dropdown-content">
                    <a href="/AddTour">Добавить</a>
                    <a href="/AllTour">Редактор</a>
                </div>
            </div>

            <div class="dropdown">
                <button class="dropbtn">Актуальная информация</button>
                <div class="dropdown-content">
                    <a href="/AddActualInformation">Добавить</a>
                    <a href="/AllActualInformation">Редактор</a>
                </div>
            </div>

            <div class="dropdown">
                <button class="dropbtn">Мероприятия</button>
                <div class="dropdown-content">
                    <a href="/AddEvent">Добавить</a>
                    <a href="/AllEvent">Редактор</a>
                </div>
            </div>

            <div class="dropdown">
                <button class="dropbtn">Заявки</button>
                <div class="dropdown-content">
                    <a href="/AddRequest">Написать</a>
                    <a href="/AllRequest">Редактор</a>
                </div>
            </div>


<!--            <li class="float" sec:authorize="isAuthenticated()">-->
<!--                <form  th:action="@{/logout}" method="post">-->
<!--                    <input class="btnSubmit" type="submit" value="Выйти">-->
<!--                </form>-->
<!--            </li>-->

            <li class="float">
                <form th:action="@{/logout}" method="post">
                    <input class="btnSubmit" type="submit"value="Выйти">
                </form>
            </li>
        </ul>
    </nav>
</div>
