<div  th:fragment="header" xmlns:th="http://www.w3.org/1999/xhtml">
    <h1 class="name" align="center"><span style="font-family:Lobster, cursive; Font-size:30px;">Санаторий Профилакторий "Озеро Глухое"</span></h1>

    <nav>
        <ul class="topmenu">
            <li><a href="/">Главная</a></li>
            <li><a href="/Accommodation">Проживание</a></li>
            <li><a href="/Infrastructure">Инфаструктура</a></li>
            <li><a href="/Price">Прайс</a></li>
            <li><a href="/Сommunications">Контакты</a></li>
            <li><a href="/AboutUs">О нас</a></li>
            <li><a href="/Rules">Правила</a></li>
            <li><a href="/Comment">Отзывы</a></li>
            <li><a href="/AdminHome">Админ</a></li>
            <li><a href="/MyAccount">ЛичКабКл</a></li>
            <li><a href="/StaffAccount">ЛичКабСот</a></li>




            <!--  Страница не открывается, если код в написан в таком формате.
                                 Код нужен для ЛОГАУТА!  sec:authorize="hasRole('STAFF')">-->

                      <li class="float">
                              <a href="/Authorization">Авторизоваться</a>
                      </li>

                      <li class="float">
                              <a href="/Registration">Registration</a>
                      </li>






        </ul>
    </nav>
</div>
